[2012-08-20 13:50] frankrousseau opened #1 "Password confirmation before changing password"
From users :
On account page, it would be more secure, if it asks old password before allowing to change current user password.

[2012-08-29 14:49] frankrousseau opened #2 "App menu bugs with Cozy mails"
From user :

"When I run CozyMails from the toolbar menu and I click on Inbox button, it makes home buttons disapear."

[2012-08-29 14:51] frankrousseau opened #3 "Link in menu is still present after deletion"
Install an app, delete it then you will see that app is still present in the menu bar.

If you refresh the page everything is back to normal.

[2012-09-06 16:32] frankrousseau opened #4 "Application installation with Chrome"
One of user reported that application installation fails when he do it inside a Chrome browser (Firefox works fine).

[2012-09-29 12:43] gelnior opened #5 "Help button"
From users:

It would be nice to have an help button that points to the Beta Q&A forum.

[2013-01-22 09:32] bleuse opened #6 "Change app ordering."
It would be great if the user could choose the placement of the apps icons within Cozy Home. It could be done by letting the user drag&drop the app icon while managing the apps.

[2013-01-30 13:02] frankrousseau opened #7 "Log automatically user after inscription"
To enhance user experience, it would be better to log user after registering.

[2013-01-31 09:50] frankrousseau opened #8 "Install button is still clickable after the installation succeeded"

[2013-01-31 11:37] #4 closed, assigned to nobody

[2013-01-31 12:03] #5 closed, assigned to nobody

[2013-01-31 14:31] #8 closed, assigned to nobody

[2013-01-31 15:10] #7 closed, assigned to nobody

[2013-01-31 15:39] #3 closed, assigned to nobody

[2013-01-31 16:31] #2 closed, assigned to nobody

[2013-02-06 10:50] frankrousseau opened #9 "Manage button label should switch"
When you click on the manage button, you get into the management state. In this state the button keeps its label. But it's required to click on this button to go back to initial state. That's not intuitive.

[2013-02-06 15:00] frankrousseau opened #10 "Remove app from mainboard when app is removed"
It's not clear that app has been removed after a deletion.

[2013-02-06 21:57] frankrousseau opened #11 "App buttons should behave like links"

[2013-02-06 21:59] frankrousseau opened #12 "better feedback for manage buttons"
Add / update / Remove / Manage buttons could habe a more explicit behavior.

[2013-02-07 20:48] #9 closed, assigned to nobody

[2013-02-07 20:48] #12 closed, assigned to nobody

[2013-02-07 21:32] #10 closed, assigned to nobody

[2013-02-07 21:32] #11 closed, assigned to nobody

[2013-02-08 15:05] poupotte opened #13 "Notification of updates"
It would be great to know when we can update an application.

[2013-02-09 14:33] frankrousseau opened #14 "History should remember home and account pages."
If you open an application from the home screen, using back button doesn't get you back to the home.
That'st the same for the account page.

[2013-02-11 16:54] LucsT opened #15 "Display the RAM used without the cached memory"
RAM use display the ram use by the linux system entirely.
But cached memory is not a key metric to see a cozy load.

A string containing bytes used without cache can be get by:

[code]

[2013-02-12 14:13] frankrousseau opened #16 "Make custom install easier"
Actually installer understand only https git url. It could be more laxist and allow to forget the .git at the end of the url.

[2013-02-13 22:28] #15 closed, assigned to nobody

[2013-02-13 22:42] #14 closed, assigned to nobody

[2013-02-20 12:52] aenario opened #18 "Sandbox Iframes"
Add attribute sandbox to the application iframe

cf. http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/

Permissions to be added :
allow-forms
allow-pointer-lock
allow-scripts

Permissions that should not be added :
allow-top-navigation

TBD do we add
allow-same-origin

[2013-02-22 12:07] #16 closed, assigned to nobody

[2013-02-25 14:29] LucsT opened #19 "Favicon in cozy Instance"
Cozy instances don't show any Favicon in Firefox and Chrome.

The cozy logo? Or a special one?

[2013-02-28 16:07] #19 closed, assigned to nobody

[2013-03-18 21:48] bleuse opened #23 "Update all button."
It would be nice if an 'update all' button allow users to update all its apps.

[2013-03-26 18:05] maxence-cote opened #26 "Top toolbar disapear when opening new tab"
poq just brought to my attention that when using the "open in new tab" shortcut, the upper toolbar disapear:
https://forum.cozycloud.cc/index.php?p=/discussion/31/cozy-todos-loosing-the-cozy-toolbar#Item_2
This seems to occur in other cases too, like going back and forth between a cozy and the forum.

[2013-04-12 17:48] bnjbvr opened #27 "Sign in as public after sign out"
## Context

Sign out.
## Issue

When going back on the auth page, https://example.cozycloud.cc/login, the only possibility is to sign in as public:

![sign-in-as-public](https://f.cloud.github.com/assets/1180019/374299/0df6b692-a399-11e2-90a1-f78cd42c7b54.png)

[2013-04-22 07:01] jsilvestre opened #30 "Notification system"
As we have spoken about it recently, here are my ideas to introduce a notification system into cozy-home. **Obviously any suggestions, etc. are welcome, from anybody**.

So first, what do I call a notification and what are its characteristics.

**Definition**
A notification is simply a message sent to the end user to inform him. ie:
- "New mail received"
- "There is no space left on your cozycloud

[2013-05-31 07:11] poupotte opened #42 "Error message"
When I try to install an application with the same name than an other application already installed, pop-up message is "undefined" instead of "There is already an app with similar name".

[2013-06-03 08:10] aenario opened #43 "Miss a word in the everything installed message"
"(You) have already ..."

https://github.com/mycozycloud/cozy-home/blob/master/client/app/templates/market.jade#L19

Add a pipe at the beginning of this line

[2013-06-03 21:59] #43 closed, assigned to nobody

[2013-06-14 14:30] jsilvestre opened #50 ""Open in new tab" underlined"
The link "open in new tab" is underlined on mouse hover. Since there is already a dashed line, it looks bad.

[2013-06-20 10:20] #27 closed, assigned to nobody

[2013-06-20 10:21] #26 closed, assigned to nobody

[2013-06-20 10:21] #1 closed, assigned to nobody

[2013-06-28 14:08] aenario opened #58 "Can't install non-coffescript application"
Probably caused by this line :
https://github.com/mycozycloud/cozy-home/blob/master/app/models/application.coffee

Should be overriden by package.json

[2013-07-01 16:09] aurelient opened #59 "Adding apps to Home in parallel"
Seems like adding multiple apps to the Home screen quickly does not work.

The apps disappeared from the store like if they were installed but only the first one got installed. This was a bit confusing because the other ones were not visible in the store anymore until I reloaded the page (hitting the reload button instead of cliking on the +Apps button in cozy).

Why not mark the apps as installed

[2013-07-02 15:48] #59 closed, assigned to aenario

[2013-07-29 22:07] Retenodus opened #62 "Disk space calcul"
Hello,

The disk space calcul take always the first partition found (generally /). In some installations, couchdb data is moved to a specific partition.

The calcul of disk space should read the couchdb configuration file, look at where is the data, and calcul the space disk of the right partition.

Thanks,
Regards,
Retenodus

[2013-07-30 03:47] bnjbvr opened #63 "Impossible to query forgotten password request"
I incidently forgot my password. When clicking on the "Forgot password" link on the connection page, nothing happens.

Console reports (in Firefox and Chrome):
[20:39:58.507] SyntaxError: JSON.parse: unexpected character @ https://myinstance.cozycloud.cc/login.js:126

Two network requests are made at this point:
- one POST on /login/login/forgot, which results in a 302 to
- /login/login/login/forg

[2013-07-30 08:43] #63 closed, assigned to nobody

[2013-07-30 12:45] jsilvestre opened #64 "Removing the notification "app started""
I find it pretty annoying to be notified "my app is ready" when I start an application (after having stopped it).

It is all the more annoying that I have to stop/start application often since memory usage is an issue.

[2013-07-30 12:59] maxence-cote opened #65 "Changing domain name."
I tried to change the domain name of my cozy that is hosted at cozycloud.cc

initially my url was maxencecote.cozycloud.cc that i changed to maxence@cozycloud.cc

This worked great as I can access my cozy at this URL now, but i noticed two issues:
*When visiting my old URL I reached the login page of another user while the url clearly states I am visiting my old URL and not someone else.
*The acco

[2013-07-30 18:08] #58 closed, assigned to nobody

[2013-08-02 10:56] #65 closed, assigned to nobody

[2013-08-09 15:56] #64 closed, assigned to aenario

[2013-08-12 07:48] maxence-cote opened #70 "Forgot password link not working"
As reported by one of our beta testers, the forgot password button doesn't work (tried on firefox and chromium).

[2013-08-13 17:41] abl opened #72 "Circular logout issue"
Apologies if this is the wrong sub-component.

Logging out takes you to a URL like the following:

https://alex.cozycloud.cc/login/#logout

If you attempt to log back in (I was trying to see if an irc issue would be fixed by logging off and on) you get redirected to:

https://alex.cozycloud.cc/#logout

Which loads and then immediately signs you out and puts you back at:

https://alex.cozycloud.cc/

[2013-08-14 08:43] #72 closed, assigned to nobody

[2013-08-14 14:03] #70 closed, assigned to nobody

[2013-08-14 15:02] #42 closed, assigned to nobody

[2013-08-14 15:02] #50 closed, assigned to nobody

[2013-08-30 11:55] maxence-cote opened #85 "Domain name input field in account not clear"
After we discussed the role of the domain name field, I understand it is used by the cozy to create sharing urls and so, yet it is not the place where a user should go to change completely their domain name. It would be nice to have a popover or something explaining what it is used for to make it clear.

[2013-10-05 15:54] #30 closed, assigned to nobody

[2013-10-05 15:56] #6 closed, assigned to nobody

[2013-10-24 11:11] umanu opened #117 "inverted applications : Feeds and Bookmarks"
Hi, i'm on raspberry. I've installed it yesterday, and now my two apps : Feeds and Bookmarks are inverted. In the home menu, when i click on Bookmarks, it goes to My Cozy Feeds. And when i click on Feeds, it goes to Bookmark a link.
My RAM usage is : 187 / 448 Mo (RAM)
2.2 / 15 Go (Disque Dur)
I have extended my SD card partition after the app installation.
I've tried to remove apps, then reinstal

[2013-11-15 16:48] rdubigny opened #121 "scroll bar in the wrong place"
Hi,

I have just noticed that :
![image](https://f.cloud.github.com/assets/4190728/1551496/22b5c40c-4e15-11e3-9a2b-1db0a84b6803.png)

You can see that when scrolling the home, the bar shows up on the icons on the right. It's not much important but it can be easily fixed I think.

Keep it up!

[2013-12-12 11:14] #18 closed, assigned to nobody

[2013-12-12 18:15] frankrousseau opened #137 "The weather app description is wrong"
The weather app descriptions is the as the task app description.

[2013-12-13 08:31] frankrousseau opened #139 "Doesn't work with iPad Safari"
On iPad a blank page is displayed instead of the home.

[2013-12-13 09:12] #121 closed, assigned to nobody

[2013-12-20 16:20] #117 closed, assigned to nobody

[2013-12-20 16:21] #137 closed, assigned to nobody

[2014-01-08 15:43] #139 closed, assigned to nobody

[2014-01-08 15:44] frankrousseau opened #141 "Chrome: application iframe position is not well calculated"

[2014-01-16 11:53] prologic opened #143 "Install all core apps -- Or app bundles"
We need a way to install a bunch of apps all at once.

e.g: "Install Core"

or

Select a bunch of apps
Click "Install Selected Apps"

[2014-02-03 12:42] #85 closed, assigned to nobody

[2014-03-13 10:19] #62 closed, assigned to nobody

[2014-03-13 20:00] mihneadb opened #163 "Scrolling on empty home page is slow in FF and Safari, works fine in Chrome"
Hello,

I set up a dev cozy environment according to the docs and the home page (empty, no apps installed) scrolls slowly in FF and Safari.

Here's a screenshot of the FF profiler while scrolling:
![screen shot 2014-03-13 at 20 56 45](https://f.cloud.github.com/assets/643127/2414372/d0d5ac7e-aae9-11e3-9f86-f979b48b92e4.png)
(and the raw json file: https://cloudup.com/c36Bbuhevo6)

It's seems there

[2014-03-17 11:54] jsilvestre opened #167 "When email is updated, the modification is not taken into account"
Self-explanatory, I'll take care of it this week.

Personal note: https://github.com/mycozycloud/cozy-home/blob/master/server/lib/adapter.coffee#L48

[2014-03-17 15:37] #163 closed, assigned to nobody

[2014-03-21 14:16] #167 closed, assigned to jsilvestre

[2014-04-14 06:43] jsilvestre opened #175 "Application's icon set to "red square""
When an application is started automatically by the proxy but not from the Home itself, the application's icon is not retrieved.

I put it here but maybe it should be something done automatically and systematically by an other application.

[2014-04-15 10:19] LucsT opened #177 "Apps are not 'new Tab' openable via right click on mouse"
When in home page, app on dashboard are not openable in a new tab (at least in firefox).

A great option would be to add an option in the rolling menu. (Now it detect only an image)

[2014-04-15 15:56] #177 closed, assigned to nobody

[2014-04-29 22:26] #13 closed, assigned to nobody

[2014-05-06 07:32] jsilvestre opened #179 "When an alarm has a Home notification and an email, the email is not sent"

[2014-05-20 07:32] aenario opened #182 "Manage your app : transition & nicescroll incompatibility"
When the user click update, niceScroll is resized before the transition to full height is complete so the "confirm update" button is not always accessible. We need to resize niceScroll at the transitionend.

[2014-06-04 14:18] aenario opened #184 "URL mapping is broken"

[2014-06-04 14:20] aenario opened #185 "Notifications icon doesn't revert to white"

[2014-06-06 08:26] jsilvestre opened #187 "Notification counter"
This has gone back and forth without any actual discussion. Can we decide if we keep it or not? Because it's just hidden for now and if we don't want it, we'd better remove it.

For me it's a big :+1: to keep it (and display it).

[2014-06-06 10:33] #23 closed, assigned to nobody

[2014-06-06 10:33] #175 closed, assigned to nobody

[2014-06-06 13:46] #179 closed, assigned to jsilvestre

[2014-06-06 13:46] #184 closed, assigned to jsilvestre

[2014-06-06 13:46] #185 closed, assigned to jsilvestre

[2014-06-06 15:15] #182 closed, assigned to nobody

[2014-06-12 07:46] dkm opened #191 "Update "all" apps feature"
Updating several app currently implies several clicks (app >> update >> confirm). The layout moving around when clicking 'update' does not ease the task :)

[2014-06-12 07:49] dkm opened #192 "Field expansion after 'update' click pushes confirm button out of reach"
When clicking on 'update' button for app at the bottom of the list, the field expands with extra info (permission & friends) and the confirm button. Alas, this expansion can go beyond the bottom limit of the window and no scroll bar is created by the browser.

Clicking another app update button makes the scrollbar appear, as expected.

[2014-06-12 07:51] dkm opened #193 "Versionning of application to avoid useless update"
It's impossible to know if updating an app is needed (ie. something new is available) or not. In doubt, I regularly update my apps, but I guess 90% of the updates are useless and a waste of resources...

[2014-06-13 11:28] #193 closed, assigned to nobody

[2014-06-13 11:28] #191 closed, assigned to nobody

[2014-07-01 09:54] #192 closed, assigned to nobody

[2014-07-09 00:45] bnjbvr opened #195 "Installing an app from an unusual git repo branch fails"
Try to install an app from a github repo, but not from the master branch (i.e. add @ and a branch name after the .git address). This didn't work a few times (workaround was to put everything in the master branch). Had a message like this in the error at install report message:
`pathspec "branch_name" did not match any file(s) known to git.`

[2014-07-17 08:40] frankrousseau opened #196 "Block installation when not enough memory is available"
An user reported that he could keep running app installation while not having sufficient memory to run them. The result is that all installation failed without explanation.

[2014-08-04 07:33] jsilvestre opened #197 "Installations and updates fail"
Not sure if this comes from Cozy's servers or the code itself but those failures are annoying.

[2014-08-04 07:39] jsilvestre opened #198 "Opening an app doesn't work on mobile (Android / Firefox)"
Issue confirmed on Android 4.3 (Firefox) and Android 4.4 (probably Firefox too)

[2014-08-04 11:24] alpha14 opened #199 "Android stock browser : Installation iframe is out of range"
Android 4.4.2 1080 x 1920
![screenshot_2014-08-04-13-14-42-1](https://cloud.githubusercontent.com/assets/3937838/3796461/dc7590f2-1bc9-11e4-89ae-84d29a713eb7.png)

[2014-08-13 10:41] #199 closed, assigned to nobody

[2014-09-02 08:14] frankrousseau opened #203 "Virtual Box and Memory issues"
On Virtualbox, app installation don't look to check the RAM limit.

[2014-09-12 11:26] alpha14 opened #204 "add confirmation dialog before removing an app"

[2014-09-22 07:19] frankrousseau opened #205 "App manager: a dot is displayed before every version number"
In the app management display a dot is displayed before every version number. It isn't neat!

[2014-09-22 07:20] frankrousseau opened #206 "Update and changelog"
I was thinking that apps could propose a `changelog.json` file that gives the new features and fixes of a given version. It could be displayed in the permission screen.

[2014-10-05 11:27] frankrousseau opened #208 "Installation output is very bad in case of errors"
[Related forum post](https://forum.cozy.io/t/problem-installing-apps/121)

Output:

[code]

[2014-10-08 08:50] frankrousseau opened #209 "Add Cozy-term and Kresus to the marketplace"
Both are missing.

[2014-10-09 10:42] #198 closed, assigned to nobody

[2014-10-09 10:42] #197 closed, assigned to nobody

[2014-10-09 16:17] #209 closed, assigned to nobody

[2014-10-13 14:56] #141 closed, assigned to nobody

[2014-10-13 14:56] #205 closed, assigned to nobody

[2014-10-27 14:47] #195 closed, assigned to jsilvestre

[2014-11-08 23:24] clochix opened #218 "Give better feedback when package.json is missing"
Was trying to install an app from Github, and the install keep failing. I had to dig into the source code to realize I forgot to commit the `package.json` file.
So Github just returned a 404 with text content `Not found` that request was not able to parse as valid json.
We should maybe provide a better message, like "Unable to fetch package.json"

[2014-11-18 18:39] #218 closed, assigned to nobody

[2014-11-25 10:15] frankrousseau opened #221 "Keep favicon consistent"
The favicon changes depending on the running app. What looks like a cool feature, is finally quite annoying. It's hard to identify the Cozy tabulation, specially when it's pinned. We should keep the same favicon on app change. The own application favicon could appear when the application is not displayed via the Home.

[2014-11-28 19:06] jsilvestre opened #222 "Only one notification is sent when multiple notifications are created in the same event"

[2014-11-30 16:55] #222 closed, assigned to nobody

[2014-11-30 19:32] alpha14 opened #224 "add Two factor authentication"

[2014-12-01 06:48] jsilvestre opened #225 "Display duration before event in reminders"
As a user, when I see a notification from a reminder, I don't know when the event is supposed to happen (is the reminder set one day or one week before th event?).

I'd like to have the duration.

[2014-12-01 06:48] jsilvestre opened #226 "Reminders are not localized"

[2014-12-01 07:33] jsilvestre opened #227 "Notifications are not shown in realtime"
I have tried to fix it but it appears to be more complicated than I thought.
- notification's realtime events are properly passed to the client
- the client properly retrieves the notification model
- BUT notifications are not added to the notifications collection. Instead, they are added to the DeviceCollection (wtf ?)

I stopped my investigation here, but that's a good start.

[2014-12-03 07:20] jsilvestre opened #230 "Queue of actions on application (installation, update, deletion)"
As suggested by @dkm, it would be less frustrating for users, if they could start the actions on multiple apps. Home should manage a queue of those actions.

[2014-12-03 09:31] alpha14 opened #231 "Submit buttons are not aligned with text fields"
Tested on firefox and chromium
![image](https://cloud.githubusercontent.com/assets/3937838/5278230/7919fc38-7ad7-11e4-9288-d0c223831647.png)

[2014-12-03 10:28] #231 closed, assigned to nobody

[2014-12-03 15:15] jsilvestre opened #232 "Closing non-focused app's iframe when the app is updated or stopped"
When an app is stopped, if it's been opened in an iframe, and that the iframe is not currently browsed, the iframe should be closed to prevent "oh the app looks like it's working, but actually there is a problem / data has changed".

[2014-12-08 17:37] jsilvestre opened #237 "Automatically updating applications"

[2014-12-08 22:20] #187 closed, assigned to nobody

[2014-12-08 22:20] #221 closed, assigned to nobody

[2014-12-08 22:20] #226 closed, assigned to nobody

[2014-12-08 22:20] #227 closed, assigned to nobody

[2014-12-10 13:48] jsilvestre opened #240 "Realtime doesn't work for applications"
When an application is installed, the spinner stays forever, and the user has to refresh the page to see it installed.

[2014-12-11 15:13] #240 closed, assigned to nobody

[2014-12-11 16:02] Benibur opened #243 "password reset mail & process"
Voici ma proposition pour le mail de reset de password, qui ici à mon sens doit être plus précise et pour le coup franchement alarmante si l'utilisateur va en effet perdre ses données chiffrées...

Rq1 : C'est un peu raide mais c'est indispensable. Il faudra faire un peu plus de pédagogie via une page en ligne une explication exhaustive avec de beaux schémas...

Rq2 : A la création de l'instance,

[2014-12-12 09:02] aenario opened #244 "Improve error reporting"
From the discussion this day on skype :

Excuse our french,
[code]

[2014-12-12 09:03] clochix opened #245 "Create an easy way for a user to report a problem"
Add a button with a bug icon to allow users to easily report problems.

This would display a form the user could use to describe the problem, and send us a complete report with the full state of its instance (versions of apps, error logs (front and back), and so on).

[2014-12-12 09:04] #245 closed, assigned to nobody

[2014-12-12 13:12] ghost opened #246 "App update process should not be totally silent for user"
I recently experienced this as a goofyUser:
- went to the app manager page
- chose to update my cozymail clicking on the appropriate button
- received an information popup asking for various permissions
- clicked to confirm I wanted to update
- information popup disappears
- **nothing**
  - no popup message telling me "update in progress…"
  - no popup message telling me "{appname} has been update

[2014-12-13 14:15] gringo1er opened #247 "installation issue with ubuntu 14.10"
Hello
I am trying to find an alternative to Owncloud, and I think that Cozy could be a good solution. With a new platform, with ubuntu 14.10, I have attentively followed the installation process. But the fab install aborted with that code:

[elgringo@localhost] out: make: **\* Pas de cible spécifiée et aucun makefile n'a été trouvé. Arrêt.
[elgringo@localhost] out:

Fatal error: run() received non

[2014-12-15 12:46] #247 closed, assigned to nobody

[2014-12-15 12:46] frankrousseau opened #248 "Make the script work for Ubuntu 14.10 and Debian 8"
Many users try to install Cozy on these two distros. It would be nice if the script could work for them.

[2014-12-15 12:47] #248 closed, assigned to nobody

[2014-12-17 09:19] frankrousseau opened #249 "Saved button label is not translated"
Scenario:
- Use the Cozy in French.
- Go to the configuration page and save a field.
- The button will display "saved".

[2014-12-17 17:22] #249 closed, assigned to jsilvestre

[2014-12-21 21:09] bnjbvr opened #251 "Scrolling on ipad's integrated safari doesn't work"
Using latest iOS and integrated Safari on an iPad, if you try to scroll in the app's iframe, nothing happens. Maybe adding something like `scrolling="auto"` to the iframe tag should do the trick?

[2014-12-30 23:10] bnjbvr opened #252 "Can't install apps which aren't in the registry"
STR
===

- Go to https://demo.cozycloud.cc/#applications
- Copy `https://github.com/cozy/cozy-template.git` in the `install your own application` text field.
- Click install

Expected
===

App gets installed and usable.

Observed
===

App can't be installed. JS console shows `TypeError: app is undefined`

This looks pretty important. @frankrousseau , got any idea?

[2015-01-03 15:16] bnjbvr opened #253 "Updating an app doesn't increment the version number in "Manage your apps""
STR
=

- (an app needs to get updated)
- click on "update" next to the app name in "Manage your apps"
- wait until the update is done

Expected
==

The version number of the app gets incremented.

Observed
==

It doesn't get incremented (one needs to reload the page for this).

Example
==

I saw today that I've received an update for files, which was in version `1.0.0`, so I've clicked on update,

[2015-01-03 15:35] frankrousseau commented on #253
+1 I noticed that bug too.

[2015-01-05 07:33] jsilvestre commented on #253
very annoying +1

[2015-01-05 10:15] jsilvestre commented on #252
I I haven't been able to reproduce this bug, with 1.0.34 (latest). Can you please update, and try again? Thanks!

[2015-01-05 12:31] frankrousseau commented on #252
I commited a fix yesterday. Maybe that's why you can't reproduce it.

[2015-01-05 12:33] jsilvestre commented on #252
Actually the problem @bnjbvr has is that app without description in their manifest can't be installed. I'm going to make a fit to detect it.

[2015-01-05 17:37] #252 closed

[2015-01-05 17:37] #253 closed

[2015-01-09 01:00] Beast141 opened #259 "Notifications of updates should dissapear once updates are completed"
I think that it would be more efficient and useful if the update notifications dissapeared automatically once those updates were finished. Instead of the user manually dismissing them making him/her think that an update was not successful.

[2015-01-09 01:06] frankrousseau commented on #259
I noticed two other problems:

* Stack app versions are not properly updated.
* The platform restart is confusing. A message explaining what's happening would make things smoother.

[2015-01-09 07:13] jsilvestre commented on #230
Recently done.

[2015-01-09 07:13] #230 closed

[2015-01-09 07:14] jsilvestre commented on #196
Is it still the case? I've found code about that in the installation / update code.

[2015-01-09 07:56] jsilvestre commented on #237
@frankrousseau I was about to do this, but I realized that we may want to enforce stability of our releases before doing so. What do you think?

[2015-01-09 15:58] jsilvestre opened #261 "Tutorial: using trademark as comparison could be improved"
Originally done to help "newbies" to understand what they are asked, it could be traded for illustrations.

[2015-01-09 16:00] jsilvestre opened #262 "Tutorial: improve UX"
The UX is clearly lacking:

* it needs an indicator "current step / total step"
* one question at a time (+starting the installation immediately) vs all questions+checkboxes
* the Sync case should be handled differently

[2015-01-25 12:25] clochix opened #264 "Improve “New version available icon”"
On the App Manager Panel, add an alternate text or a tooltip on the icon displayed next to the app when a new version is available.

[2015-01-26 16:47] jsilvestre opened #266 "Beta visual indicator"
[code]

[2015-01-27 10:05] jsilvestre opened #267 "Applications installation wizard"
## Scenarios
[code]

I find hard to script the following information:

## Applications list (in order)
1. Emails
2. Files
3. Contacts (+ sync "hidden")
4. Calendar (+ sync "hidden")

[2015-01-27 10:23] jsilvestre opened #268 "Sprite market icons"
The market loads an image for each applications. Those images should be in a sprite.
Be careful, there is a mix of SVG and PNG icons.

Please note that the individual icons are still needed during the installation process, if the app's icon cannot be found, it tries to fallback to the one the Home has.

[2015-01-27 10:24] jsilvestre opened #269 "Decrease icon size in the marketplace"
SVG icons are too big in the marketplace.

[2015-01-27 10:34] jsilvestre opened #270 "Applications are not sorted by official/community anymore"
Current behaviour:
[code]

Expected:
[code]

[2015-01-27 10:47] frankrousseau commented on #268
What is a sprite?

[2015-01-27 10:51] jsilvestre commented on #268
It's a big image with all images inside. You then use the css property `background-position` to display the image you want. It's a technique to reduce the number of HTTP requests when you ave many images to display.

[2015-01-27 11:19] jsilvestre opened #271 "Update notifications should be unique"
[code]

[2015-01-27 16:05] jsilvestre commented on #262
Replaced by #267

[2015-01-27 16:05] #262 closed

[2015-01-27 16:05] #270 closed

[2015-01-27 16:05] #271 closed

[2015-01-28 10:28] jsilvestre opened #274 "New design integration"

[2015-01-29 08:18] #269 closed

[2015-02-03 14:43] aenario opened #278 "Lost branch"
@Benibur had a special branch of one app installed on its cozy.
When he updated home, the branch was lost (returned to master).

[2015-02-03 16:14] aenario opened #279 "Something is wrong with icons"

[2015-02-03 16:38] m4dz opened #280 "A a tooltip to the beta tagged logo"
@Benibur suggests that the beta flagged logo should open a tooltip that presents cozy as a beta product, and critical information should not take place in it:

(_in french_)
[code]

[2015-02-03 17:37] frankrousseau commented on #280
I'm not sure that it is the right message to display. As a user, when I read that, I simply do not use the app.

[2015-02-03 17:38] frankrousseau commented on #279
Could you add more details?

[2015-02-03 17:54] jsilvestre opened #281 "Navigating in home"
When browsing an app within the Home, if you click "back" to go the previous page, the URL changed but not the content.

It's probably a tweak to do in the options when we call `router.navigateTo` or something that exists by design.

[2015-02-04 09:00] m4dz commented on #281
I saw it when developping the ISEN app. Maybe we should handle pushState/popState in backbone in a more consistent way. I suggest to keep it inmind when we'll develop the brand-new cozy-home version.

[2015-02-05 13:31] aenario commented on #281
Is that before or after merging #277 ?

It should fix it

[2015-02-05 16:38] dkm opened #283 "Flash plugin required ?"
Whenever i login on my cozy, I can see the flash plugin being requested. I've disabled it, and everything seems to work. Is it really needed on every part of all cozy app ?

[2015-02-05 16:51] frankrousseau commented on #283
Yes, this is due to an outdated version of socket.io on which Cozy is based on. It's already listed in our todo-list.

[2015-02-05 17:07] frankrousseau commented on #281
@aenario On my Cozy (up to date) the bug is still present.

[2015-02-06 08:19] aenario commented on #279
During installation of an app from outside the marketplace (the pfm version Ben worked on), it sometimes had the icon, sometimes not. I saw this mornin a PR from @poupotte about this, so it might be fixed.

[2015-02-06 08:57] jsilvestre commented on #267
Let's try the review process imagined by @frankrousseau, I will do my functional feedback here.

# General
* I thought there would be no need for 1 route / step, but I found myself actually using previous, and I got lost. Thoughts?

# Wizard
* buttons don't have `cursor: pointer` resulting in weird feeling
* you use the orange color for the "positive choice", whereas it's the hover color
* there i

[2015-02-06 09:02] jsilvestre commented on #267
I found a bug: when hovering the fourth menu buttons, I have this:
![menuhomebug](https://cloud.githubusercontent.com/assets/568111/6076708/3ce893f8-ade7-11e4-810f-aaadbd854f19.png)

[2015-02-06 09:04] m4dz commented on #267
I asked myself about this point during dev, and I think it's not completely useless: maybe some user will try a back step, so each screen must have its own route

I agree, let's go.

Strange, I'll check why.

[2015-02-06 11:44] m4dz commented on #267
Me too, but I think it's going in a good direction. I don't like tourist on its own part, because I find those kind of pooping stuff boxes everywhere totally disrupting, especially because it pollute your screen and you can't easily stop it, nor know how many tips you  must view before finishing the tour.

I think a rich-wizard should be more comfortable, if it produces:
- a simple stop action (ac

[2015-02-06 11:53] jsilvestre commented on #267
Tourist.js lets you have the "step 1 of 2" thing (see first example: http://easelinc.github.io/tourist/). Your points are implementation details, we can do it right with tourist.js.

About what you suggest, I don't understand the difference with what I suggest based on tourist (nb: I say tourist because it's the only lib I know)

[2015-02-06 11:56] jsilvestre commented on #267
And don't get me wrong, I'm opinionated, not stubborn! That was a general remark, unrelated to the actual "let's merge this" discussion. What you have done is a very first good step, no matter what the future direction is.

[2015-02-06 12:51] m4dz commented on #267
Yep, I've take it as it. I think this step is a first-step before something more powerful.

About the future, I'll make some sketch to illustrates solutions :)

[2015-02-06 12:54] m4dz opened #285 "Improve the quick tour steps"
As we [debates](https://github.com/cozy/cozy-home/issues/267#issuecomment-73225115) in #267, the first implementation of the Quick Tour steps isn't totally acceptable as it for users. Use this issue to reference some solutions and sketchs to find a better way to do it.

[2015-02-06 13:27] jsilvestre commented on #267
There is one more point that is buggy:

It feels weird because I have the wizard again when I'm done with the quick tour.

* steps to reproduce: go through the wizard, then go to the quicktour, click "previous", click "next", go through the quick tour.
* what I see: the wizard modal
* what I should see: apps' icon

[2015-02-06 14:15] jsilvestre commented on #267
I just noticed during the demo that you wrote a little tutorial for the synchronization part. I suggest you replace it by just the three links http://cozy.io/mobile/files.html, http://cozy.io/mobile/calendar.html and http://cozy.io/mobile/contacts.html. Reasons: they are very complete step-by-step tutorials, and people always ask us the same questions about it.

[2015-02-06 14:28] m4dz commented on #267
OK, I make those few changes ;). Stay tuned!

[2015-02-06 15:09] frankrousseau commented on #285
Yep and let's wait for students feedback. By the way, let me know when #267 is merged. So I can update their Cozy. It will be useful for their research.

[2015-02-06 15:11] frankrousseau commented on #279
Ok thank you.

[2015-02-06 16:38] jsilvestre commented on #267
I don't see the the links to the tutorials in the sync screen, can you add them please? Remove the part about davdroid, because it's android-specific, and we support more platform for contacts/calendar sync.

[2015-02-06 16:56] m4dz commented on #267
Oh fuck, I forgot those ones… I'll fix that!

[2015-02-07 04:02] hansbkk opened #286 "Ongoing assistance with improving quality of English translations"
Hello, offered my services via email to Frank Rousseau, as a literate NES with translation experience to help make the Cozy interfaces read more naturally for the English-speaking market.

Have no idea about how to find the files containing the strings that need fixing as I come across them, looking for guidance on how to use this Git thing.

Notes from my initial signing in to the cloud service:

[2015-02-07 04:38] hansbkk opened #287 "Contacts - vCard import-export issues"
I am doing some pretty detailed testing of several aspects of vCard and CardDAV integration, with both Android and desktop apps and tools. I am focusing on strict fidelity to the "google way" of implementing extended fields in its export from gContacts via vCards, which is obviously a major 800-lb gorilla de-facto standard in its own right, seems to be pretty compliant with the v3,0 RFC, and also

[2015-02-07 04:44] hansbkk commented on #287
#1 In the Google interface, there is a pre-defined pair of strings "Home fax" and "Work fax", which get exported as follows in the vCard:

TEL;TYPE=WORK;TYPE=FAX:212 555 2345
TEL;TYPE=HOME;TYPE=FAX:212 555 3456

These both show up in Cozy as "FAX" alone, so it is impossible to tell which is the home fax number and which is the work number.

My work-around solution for now is to enter these as a cu

[2015-02-07 05:02] hansbkk commented on #287
Google's representation for birthday

BDAY:1961-04-05

 gets dropped completely on import into Cozy

[2015-02-07 05:22] hansbkk commented on #287
Wow this is a big one! Every one of the IM handles from Google's export gets just silently dropped!

X-AIM:AIM
X-GTALK:gTalk
X-ICQ:ICQ
X-JABBER:Jabber
X-MSN:MSN
X-QQ:QQ
X-SKYPE:Skype
X-YAHOO:Yahoo

Workaround would be to enter these in notes only.

Cozy exports them (Twitter & Skype only) as:

X-;TYPE=TWITTER:@AAAFirst
X-;TYPE=SKYPE:AAFirstAAALast

and in fact Cozy uses the 'blank' "X-" label for

[2015-02-08 12:23] jsilvestre opened #288 "Updating the stack often leads to weird behaviour"
When a user updates the stack, he is redirected to the login screen. But sometimes, after he logs in, the proxy somehow restarts, resulting in the user believing nothing is working, while he just actually gets 401 on each requests.

[2015-02-08 12:24] frankrousseau commented on #287
Wow! Thank you for that exhaustive bug report. We'll see how we can handle it.

[2015-02-08 12:36] frankrousseau commented on #286
Hello Hans,

Thank you for your assistance and welcome to the Cozy project.

Here is my recommandation to work on fixing English wording in Cozy:

*Editing*

* Fork the repository by clicking on the button located at the top of the screen on the right.
* Once you have your copy of the repository, browse your files from the browser to reach the `client/app/locales/en.coffee` file.
* Click on the pe

[2015-02-08 23:22] hansbkk commented on #286
I looked at the file before and don't recall seeing any of the strings above that need correcting. Are some strings stored in other locations?

Also, I will most likely only be willing to take the time on this if I become a regular user of the project, and my immediate need is for rock-solid CardDav services that allow for full implementation and fidelity to the "Google/Apple interpretation" of th

[2015-02-08 23:52] frankrousseau commented on #286
Ok to put the priority on CardDav problems, we will work on it as soon as possible. We'll keep you informed.

As a reminder, here are the other locale files:

* Login and register screens: https://github.com/cozy/cozy-proxy/blob/master/client/locales/en.coffee
* Contacts: https://github.com/cozy/cozy-contacts/blob/master/client/app/locales/en.coffee
* Calendars: https://github.com/cozy/cozy-calend

[2015-02-08 23:54] frankrousseau commented on #287
Yes, we forked jsDAV to make it progress faster. But mainly, CardDAV fields are managed by this library:
https://github.com/cozy/cozy-vcard/

[2015-02-09 01:13] hansbkk commented on #287
No worries. Do you want me to cross-reference with an issue logged against that specific library?

Some general observations from my initial research on this topic area (excuse me if much of this is already well-known by the devs).

The vCard / CardDAV "standards" (that's what's so great about standards there are so many of them 8-) are a real mess, and very hard to work with, given that most tool

[2015-02-09 01:28] hansbkk commented on #286
"As a reminder" LOL I had no idea, thought there was just the one 8-)

I just posted a long rant/screed over there, do please just pick and choose whatever might be helpful and ignore the rest, I do tend to be too opinionated 8-)

Thanks so much for such a response, very encouraging.

I'll also be checking out owncloud, apparently their web-based editor has a lot of flexibility. They use SabreDAV

[2015-02-09 08:31] frankrousseau commented on #286
Yes, Owncloud is written with PHP. We use Javascript/Node.js. We don't store Contacts as VCF. Cozy stores every data in a database to make it easier to use by another application.

[2015-02-09 08:33] frankrousseau commented on #286
It provides URLs where all Cozy contacts are available in CarDAV format. Cozy is a technology based on a REST architecture, it doesn't rely much on files.

[2015-02-09 08:33] jsilvestre commented on #287
Hi @hansbkk, thank you for that very details report.

If you don't mind, we'll continue the discussion on the dedicated repository (https://github.com/cozy/cozy-sync/issues) so it's easier for us to follow. I am going to create new issues and reference existing one here so we don't lose any of you thoughts and bug reports.

I created a new issue about your comment: https://github.com/cozy/cozy-hom

[2015-02-09 08:35] frankrousseau commented on #287
Thank you for all for that detailed information. That will really helps us to improve the VCard management. I think the best approach, as you suggest, is to import Google and Apple contacts and make it works.

[2015-02-09 08:54] scesbron opened #289 "On a mobile, text under icons on home page are truncated"
On the home page the text under the icons is truncated on my firefoxos zte open c.

You can reproduce it on firefox if you use the mobile view (Ctrl+Alt+M) and choose a 320x480 resolution.

[2015-02-09 11:33] frankrousseau commented on #289
Thank you @scesbron for you bug report. We'll take care of it.

[2015-02-09 15:00] clochix commented on #203
Is this ticket still relevant ?

[2015-02-09 15:05] clochix commented on #279
@aenario could you test once @poupotte's PR has been merged ?

[2015-02-09 15:22] clochix commented on #288
@goofy-bz we opened this issue about the problems you encountered when updating your instance. Please don't hesitate to give @poupotte further explanations.

[2015-02-09 15:30] frankrousseau commented on #203
Don't know tests are required.

[2015-02-09 16:43] frankrousseau commented on #287
I close this issue. Things are now too messy. I'm going to open every related issue on Cozy VCard project.

Sorry @hansbkk for the inconvenience.

[2015-02-09 16:43] #287 closed

[2015-02-09 17:18] m4dz commented on #251
My firsts tests confirms that we have a problem with long iframes. It relies on:
- how Safari mobile handles the scrolling event and the viewport (Apple made a specific style for this: http://stackoverflow.com/questions/4599153/iframes-and-the-safari-on-the-ipad-how-can-the-user-scroll-the-content)
- fake scrollers that can simulate a real scroll as Safari mobile expect it (and as we use nice scro

[2015-02-09 18:19] hansbkk commented on #286
Well as I stated I don't know (nor care) much about underlying
code/language/architecture issues, I'm just a potential consumer / user of
your services, and letting you know from that POV:

I need to know none of the information stored in my contacts data set will
be lost by storing/sync'ing via Cozy. This is a "would be nice" feature I
am able to compromise on, if/when it becomes available then I

[2015-02-09 18:21] hansbkk commented on #286
Sorry, correction in bold:

------------
Well as I stated I don't know (nor care) much about underlying
code/language/architecture issues, I'm just a potential consumer / user of
your services, and letting you know from that POV:

I need to know none of the information stored in my contacts data set will
be lost by storing/sync'ing via Cozy. This *is NOT a* "would be nice"
feature I am able to com

[2015-02-09 18:32] frankrousseau commented on #286
Hi Hans,

We totally agree, that information should not be lost and Contacts should be compatible with as much as application possible. We'll work on debugging the issue you reported.

I understand you had a bad experience and it's very sad for both of us. Sad for the Cozy team because your  made very precise reports. That was really helpful. Sad for you because Cozy allows you to do many things w

[2015-02-09 18:49] hansbkk commented on #287
No problems here. . .

[2015-02-09 19:23] hansbkk commented on #286
Not at all "sad" Frank, I'm just testing different CardDAV implementation services with dummy data for now, and believe me this is par for the course in this part of the web standards woods, sync'ing contact info is inherently hard.

FFR to incoming googlers: more general issue here: cozy/cozy-sync#26

[2015-02-10 09:17] frankrousseau commented on #289
@scesbron If you update your Home moduel, things should be fixed. Is it ok for you?

[2015-02-11 07:15] jsilvestre opened #291 "Improve "upgrade app" modal"
Based on @goofy-bz suggestion on the forum: https://forum.cozy.io/t/pendant-une-mise-a-jour-fenetre-dinformation-trop-fugace/215/3

The first screen of the modal is a "please wait" message that last the time the permissions are downloaded. It oftens just blinks because it's fast.
* it should not be displayed if it's fast
* it should be displayed enough time so the user can read it if it's not that

[2015-02-11 09:22] m4dz commented on #291
My tech thoughts about the waiting / throbber things is:
- apply an attribute (ideally an `aria-busy=true`) on the currently waiting element
- using CSS transition, let a pseudo-element containing the throbber appear _after a delay_ (about something like 850ms) on the targeted element.

This way, we instantly mark the element as busy, but inform user only if it take a reasonable amount of time to

[2015-02-11 11:13] frankrousseau commented on #291
+1 with @m4dz

[2015-02-11 14:21] m4dz commented on #267
Closed by #282

[2015-02-11 14:21] #267 closed

[2015-02-11 15:39] jsilvestre commented on #291
I like your solution, but that doesn't entirely solve the case: if it takes 1300ms tor retrieve the data, the throbber message will be displayed only for 250ms, resulting in the throbber blink. Maybe we could use the same transition technique so it disappear after 2s (placeholder value) in any case?

[2015-02-12 08:49] m4dz commented on #291
Hum, you're right… 2s may be too long just to hide a notification, but what if we set a transition duration of ~1s for hiding ? It defines the following flow:
1. Need a notification, set `aria-busy` to `true`, it starts transition delayed by 850ms
2.
    1. Busy state < 850ms : `aria-busy` set to `false`, transition cancelled > END
    2. Busy state > 850ms : transition occurs, notification is vis

[2015-02-12 09:16] jsilvestre commented on #291
Yeah I think that's good. About the exact time, I just don't know, experience will tell. It's just about the user being able to read it!

[2015-02-12 09:51] clochix opened #292 "Allow to show password on login screen"
See http://www.lukew.com/ff/entry.asp?1941

[2015-02-12 09:53] m4dz commented on #292
:+1:

[2015-02-12 15:45] aenario commented on #281
@m4dz , if you work on it :
basically there is a interaction between
https://github.com/cozy/cozy-home/blob/98fbf7bc6d998b522afdb2dbfd57bc1f9fca564d/client/app/views/main.coffee#L200
https://github.com/cozy/cozy-home/blob/98fbf7bc6d998b522afdb2dbfd57bc1f9fca564d/client/app/views/main.coffee#L220-L223

The router.navigate should not be called if the change comes from line 200. Or may be it should b

[2015-02-12 15:58] m4dz commented on #281
@aenario ok, thanks :smile:

[2015-02-13 11:00] m4dz opened #295 "Wrong display on market in small screens"
On small viewports (specially in portrait mode), Market have a bad display when it renders its icons:
![Market on iOS8 - portrait mode](https://cloud.githubusercontent.com/assets/471486/6186281/a899c76c-b377-11e4-95d2-730d8b0df92e.png)

We can:
- improve icons by ensuring they are a constrained square and the corners are rounded to 50% each
- improve grid layout inside each card to prevent text ov

[2015-02-13 11:22] frankrousseau commented on #295
It's fixed by my last pull request. That PR requires a build.

[2015-02-13 11:29] m4dz commented on #295
Ok, nevermind, I forgot the build :). Thanks!

[2015-02-13 11:29] #295 closed

[2015-02-18 09:32] jsilvestre commented on #288
https://github.com/cozy/cozy-controller/commit/6a691c41d7dcfd0c73691694831f790d8f40d6ef should fix this problem.

[2015-02-18 15:24] Kloadut opened #296 "Ügly onboarding modal font"
I use a typical ugly serif font by default on my OS in order to quickly spot those things.
Yes I am evil.

![capture du 2015-02-18 16 14 39](https://cloud.githubusercontent.com/assets/1279740/6249851/5721bbe4-b78a-11e4-8f8f-b3eed0325625.png)

(Also note the french mistranslation "Bienvenue sur" and "Bienvenue dans", and the notification icon a bit too close to the bottom of the menu bar)

[2015-02-18 16:08] frankrousseau commented on #296
Yes we have the same problem in the Files app in tag input and share modal.

[2015-02-18 17:50] #296 closed

[2015-02-19 08:07] bnjbvr opened #298 "Detect timezone and propose it as a default on the first login"
When subscribing for the first time, one can enter "additional information", including their timezone. It is set to GMT for me by default, however we should be able to detect which timezone is the most likely and propose it as a default to the user.

[2015-02-19 08:14] m4dz commented on #298
Thanks for the feedback! We have planned to revamp the proxy and first time connect in one of our next sprints, and we suggest that we can detect user geo-position to pre-fill the timezone field with its current location. This setting isn't optional as it can introduces few bugs in apps if it's correctly setted, so help user to make its choice is a good solution.

[2015-02-19 08:22] jsilvestre commented on #298
http://stackoverflow.com/a/8984850 this is the best answer I have ever found. Detecting timezone accurately is just not possible as of today.

[2015-02-19 09:40] aenario opened #299 ""Install from git" field is barely readable"
The font is very thin and orange over white.
We usually c/p something in it, so no big deal, but i hurt my eyes every time i type there.

[2015-02-19 09:42] jsilvestre commented on #299
Can you please provide a screenshot? It seems to be ok for me.

[2015-02-19 09:59] frankrousseau commented on #299
Did you try the latest verion of home. Now fonts are really bigger.

[2015-02-19 10:03] #299 closed

[2015-02-19 10:03] aenario commented on #299
oh yes, my bad !

[2015-02-19 17:23] m4dz commented on #298
I think we can use this project https://github.com/esripdx/Timezone-API as a base for a Geoloc/TZ module in home. It uses embedded data from geonames.org, which is safe and robust.

The idea is to ask the user to share its location through the [Geolocation API](https://developer.mozilla.org/en-US/docs/Web/API/Geolocation/Using_geolocation) when it display the timezone selection screen:
* the user

[2015-02-20 10:40] jsilvestre commented on #259
I bump this issue, now the update process is smoother, it's even more disturbing.

[2015-02-23 08:48] clochix commented on #289
Hello @scesbron, have you tried to update your Cozy stack ?

[2015-02-23 08:51] clochix commented on #288
This bug is hard to reproduce, so I think we can trust you and close the issue for now. @goofy-bz please don't hesitate to re-open it if you encounter the problem again.

[2015-02-23 08:51] #288 closed

[2015-02-23 08:53] clochix commented on #279
Ping @aenario: @poupotte fixed this, could you test ? Thank you !

[2015-02-23 08:54] clochix commented on #278
@poupotte can we close this ?

[2015-02-23 14:11] frankrousseau commented on #289
We don't have answers since 13 days. We can close this issue. @scesbron if you still meet problems. Feel free to reopen it.

[2015-02-23 14:11] #289 closed

[2015-02-23 14:17] scesbron commented on #289
Sorry for not responding sooner. Just tried and it's ok on my ffos phone

[2015-02-23 14:17] frankrousseau commented on #289
Great! Thank you for the feedback!

[2015-02-23 17:10] poupotte commented on #278
Yes, it should be fixed.

[2015-02-23 18:01] #278 closed

[2015-02-23 21:37] Benibur opened #301 "update of apps and platform"
When you have the modal after you clicked on the update of an app, you still can clic on the plateform update. Some other combinaison of updates are possilbe because people are likely to quickly press on both "update plateform" and "update all apps" (or just one app).
If not done, the Home should :
  * after the launch of a plateform update : freeze the buttons of updates of apps (each app and the

[2015-02-23 21:39] Benibur opened #302 "enter should validate the password modification"
on the first login wizard, pressing "enter" key should validate the password chosen by the user.

[2015-02-23 21:52] Benibur opened #303 "login should be a form"
A form for the login is compulsary so that login plugins in browsers works properly.

[2015-02-24 08:12] jsilvestre opened #304 "Disk space left is not correct"
As reported on the forum by sak, the disk space can go crazy sometimes: https://forum.cozy.io/t/petit-bug-occupation-disque/273

[2015-02-24 08:40] aenario commented on #279
ok for me

[2015-02-24 08:54] frankrousseau commented on #304
It's related to diskspace units. When Tera is involved, it leads to a wrong display of available space.

[2015-02-24 09:42] jsilvestre commented on #143
We added a wizard to Cozy: the first time a user logs in, he answers a bunch of questions, which leads to application's installation.

As a result, can we consider this issue solved?

[2015-02-24 10:10] jsilvestre commented on #266
Forgot to close that one :)

[2015-02-24 10:10] #266 closed

[2015-02-25 17:21] Benibur opened #306 "esc key doesn't work on marketplace modal"
In the market place, if you clic on an app, the modal opens, but if you press esc key, you leave the market place (go back on the home). If you go again in the market place, the modal is still opened...
Esc should just close the modal.

[2015-02-25 17:32] Benibur opened #307 ""install your app" input"
When you are in the market place, wherever the focus is, when you press any key, you leave the market place to go on the home.
This is especially a problem when you need to paste an URL in the "install your app" input text.
ps : this bug has been seen and can be repeated in "ben-test" vm, but it's ok on 2 other vm... strange.

[2015-02-25 20:44] goofy-bz opened #308 "(minor) Persistent update notifications even though updates are done"
I have currently 6 notifications for updates
photos/contacts/emails/files/calendar and platform
though I already updated everything (with no apparent problem, things are improving !)

The user should not be obliged to click on "ignore them all" to remove the notifications that are no longer necessary.

[2015-02-25 22:57] frankrousseau commented on #308
You're right, these notifications are meaningless once apps are updated.

[2015-02-26 07:08] jsilvestre commented on #308
This is a duplicate of https://github.com/cozy/cozy-home/issues/259

[2015-02-26 07:08] jsilvestre commented on #308
This is a duplicate of https://github.com/cozy/cozy-home/issues/259

[2015-02-26 16:43] poupotte commented on #307
mmm... strange, I don't arrive to reproduce your issue on your vm "ben-test" (firefox and chrome).

[2015-02-27 12:18] poupotte commented on #307
@Benibur can't reproduce this issue. @frankrousseau , I propose to close this issue. If someone else has this bug, we'll reopen it.

[2015-02-27 12:19] #307 closed

[2015-02-28 16:22] frankrousseau commented on #283
It should be fixed soon. The code is updated, we just have to publish it.

[2015-03-01 13:51] frankrousseau commented on #251
We removed the top bar on iPad. So the scrolling should be back. Could you try again @bnjbvr ?

[2015-03-01 13:53] frankrousseau commented on #203
The issue is old and noone complains anymore about this. Let's close it.

[2015-03-01 13:53] #203 closed

[2015-03-01 15:14] bnjbvr commented on #251
Just updated the entire platform via the Update button in my cozy's interface and the top bar is still there. Is there anything else I should do?

[2015-03-01 17:42] frankrousseau commented on #251
Weird. I will get an ipad and will try directly on it. In fact we removed the top bar for resolution less wide than 900px.

[2015-03-01 17:43] frankrousseau commented on #251
Whatever thank you for trying again.

[2015-03-02 07:54] bnjbvr opened #310 "Impossible to erase all notifications when there are too many of them"
STR
===

- Get ~30 notifications on your cozy.

Expected
===

One can close them all with the "dismiss all" button.

Observed
===

The "dismiss all" button is too low to be displayed and thus to be clicked...

[2015-03-02 10:32] m4dz commented on #251
@frankrousseau I also still have the topbar on iPad and on desktop browser below width < 900px. Was the fix merged and published?

Also @bnjbvr, I tried with long-height apps such as emails and the scrolling works well (even with the topbar), and unlike my first thoughts and tests, the scroll works very well. Is the problem occurs on Kresus specifically?

[2015-03-02 10:37] bnjbvr commented on #251
As stated on IRC, feeds, bookmarks and tasky have the same issue.

[2015-03-02 10:38] m4dz commented on #251
Ok, nevermind: the scroll works well in messages list in emails becuase of the messages-list panel that have a `overflow-y: auto`. So the scrolling works for overflowed divs. I'll check for iframes directly…

[2015-03-02 11:10] m4dz commented on #251
So, after more tests:
- the content can be scrolled if enclosed in an overflowed div
- the iframe embedded in home cannot be scrolled
- add `-webkit-overflow-scrolling:touch` doesn't change anything (due to nicescroll? maybe but I'm not sure…)

If we remove the height on the iframes' parent div, then scrolling works well, but apps using a `body { height: 100% }` such as emails are messed (because

[2015-03-02 11:10] frankrousseau commented on #310
Thank you @bnjbvr for reporting. I noticed it too.

[2015-03-06 09:00] clochix opened #312 "Add a feedback form so every user can easily post feedbacks to the forum"
Our forum software, Discourse, has a REST API that allow to create a new post. So if would be great to add a feedback button into the home top menu.
The button will display a form that create a new post inside the forum.
We could create a user for each instance inside the forum.

[2015-03-06 12:59] cylwin commented on #306
For me nothing happen when I press esc

[2015-03-08 12:16] dkm opened #313 "can't login, cozy seems lost"
I can't get my cozy to work again.
When entering login info, nothing happens (the blue button does not even have any text inside). Sometimes after some refresh, I'm being shown the home page, but it's nearly empty (no app on the "desktop", only not-working icons on the right).

:'(

[2015-03-08 12:56] frankrousseau commented on #313
It looks like your data-system is down. I'm going to give a look.

[2015-03-08 13:48] frankrousseau commented on #313
I restarted your Cozy. Does it work now?

[2015-03-08 15:25] dkm commented on #313
no :( still the same behavior (login silently fails, sometimes redirected to faulty home page...)

[2015-03-08 16:10] jankeromnes opened #314 "Icon and text mismatches between apps"
During the installation of Konnectors, the app name text is at the wrong height:

![cozy-text-height-problem](https://cloud.githubusercontent.com/assets/599268/6546502/db6df03c-c5b5-11e4-81a8-05bf7ddf6b6f.png)

Then, the Konnectors icon is way bigger than Kresus':

![cozy-icon-size-problem](https://cloud.githubusercontent.com/assets/599268/6546503/df66329e-c5b5-11e4-81b3-74d3cb51f38a.png)

[2015-03-08 16:57] dkm commented on #313
it looks like it works again... possible browser bug ?

[2015-03-09 07:12] jsilvestre commented on #313
It is a known bug of Cozy: when you log out (or that you forced out, i.e. Cozy restarts), Home does not detect and inform the user that he must refresh the page / or event better, refresh the page itself.

[2015-03-09 07:26] dkm commented on #313
Ok, but I've tried to refresh, force refresh, retype the URL... I don't know if it's related or not, but when I closed the tab and retried in a new one, it worked.

I also had this kind of problem within the photo app, I will add a new issue (sorry)

[2015-03-10 13:08] m4dz commented on #314
Thanks for viewing it! We'll revamp/redesign home and proxy soon (I hope), so I think we can fix it at this time :).

[2015-03-11 17:20] bnjbvr opened #315 "Force TLS"
Not sure if it's the correct repository for this issue.

At this point, we can log into a cozy in two different schemes: http or https. It would be nice that the http page just redirect the user to the https page, so that we ensure communications between the browser and the server are encrypted.

While a workaround would be to use JS redirection (window.location), the better way would probably be

[2015-03-11 17:22] bnjbvr commented on #315
Romain pointed me to https://github.com/cozy/cozy-setup/pull/135, which solves the issue for newer systems (installed after this PR), so the nginx/apache part is already done, yay!

[2015-03-12 16:43] poupotte commented on #279
Thanks, this issue seems ok.

[2015-03-12 16:43] #279 closed

[2015-03-13 13:44] frankrousseau commented on #315
Unfortunately, the fix doesn't work. There is till work required.

[2015-03-15 21:19] frankrousseau opened #316 "Newly installed applications should be sorted in the management page"
Currently, application list is properly sorted by title. But when an app is added after a new install, the app line appears at the bottom of the list. It can confusing, especially when you add several apps in a row.

[2015-03-16 09:25] frankrousseau commented on #313
Ok let's close this issue.

[2015-03-16 09:25] #313 closed

[2015-03-17 15:34] #306 closed

[2015-03-20 15:37] obigroup opened #322 "Impossible to build docker container with Hack solution"
Bonjour,

J'ai essayé de contruire mon containeur docker avec la solution de Hack comme indiqué dans votre README, cela ne fonctionne pas...

Voici mon fichier dockerfile:
########
FROM dockerfile/nodejs

RUN git clone https://github.com/cozy/cozy-home /usr/cozy/home
RUN cd /usr/cozy/home; npm install --production

EXPOSE 9103
CMD cd /usr/cozy/home/; HOST=0.0.0.0 DATASYSTEM_HOST=$DATASYSTEM_PORT_9

[2015-03-21 19:17] jankeromnes opened #323 "Closing the first-run-experience is weird"
When opening the Home app in my Cozy, I see a first-run-experience wizard trying to suggest apps.
- There is no "x" button to close it.
- However, when I press "Ctrl", it closes, which is weird.

[2015-03-21 19:23] jankeromnes opened #324 "Impossible to install new apps using Git URLs"
Steps to reproduce:

1. Start your latest `Cozy Home` app.
2. Go to `Choose your apps`.
3. Try to install [Kresus](https://github.com/bnjbvr/kresus) by typing `https://github.com/bnjbvr/kresus` into `Install your own applications` at the bottom.

Expected:

- You can type the address and install Kresus.

Actual:

- As soon as you've typed a few letters, `Cozy Home` goes back to the `Access to your

[2015-03-21 20:23] clochix opened #325 "Use an alternative method to get free memory"
A user is trying to install Cozy on FreeBSD. The installation worked fine, but he is unable to install applications.
To check if the instance has enough free memory, we use the OS `free` utility, which is not available on FreeBSD.
We should check if `free` is available and, otherwise, fallback to `os.freemem()` (less accurate, but better than nothing).

[2015-03-23 08:17] frankrousseau commented on #315
It was finally fixed (in Ubuntu, default files were still active).

[2015-03-23 08:17] #315 closed

[2015-03-23 08:24] #316 closed

[2015-03-23 08:26] #325 closed

[2015-03-23 08:30] frankrousseau commented on #324
It looks fixed. @jankeromnes could you update your home and try again?

[2015-03-23 08:31] frankrousseau commented on #323
You're right. I noticed same kind of problems. Thank you @jankeromnes for reporting!

[2015-03-23 08:36] frankrousseau commented on #322
Bonjour,
 Je ne comprends pas bien ce que vous essayez de faire. Pouvez vous nous dire à quel README vous faites référence ?

Pour installer Cozy dans un Docker, nous vous conseillons plutôt le tutoriel suivant :
https://github.com/cozy-labs/cozy-docker

[2015-03-23 08:46] clochix commented on #325
The user reported that my patch did the job, should I make a PR ?

[2015-03-23 09:01] obigroup commented on #322
Bonjour,

J'ai essayé d'installer l'intégralité de cozy sous forme de containeurs docker.
Je me suis inspiré de https://github.com/mycozycloud/labs-controller mais rien à faire, les modules cozy sont trop liés les uns aux autres.

J'ai donc préféré séparer les modules qui ne sont pas sous nodejs : DataIndexer et CouchDB.
J'ai commencé la modification des autres modules à cette adresse : https://gi

[2015-03-23 12:49] jankeromnes commented on #324
@frankrousseau It doesn't look fixed for me.

The way I test it, on Ubuntu 14.04, with Docker 1.2.0 and latest Firefox Developer Edition:

    # Install Cozy using Docker
    git clone https://github.com/cozy-labs/cozy-docker
    cd cozy-docker
    sudo docker build . -t cozy
    sudo docker run -d -p 80:80 -p 443:443 cozy

Then, I open `https://localhost` in my latest Firefox Developer Edition, a

[2015-03-23 12:55] jankeromnes commented on #324
Actually, when I actually go through the setup wizard, and install all the apps, the problem goes away. Maybe it only happens when the wizard wasn't completed / there aren't any apps?

[2015-03-23 13:11] m4dz commented on #324
Hi @jankeromnes,

it was related to the wizard but was fixed in the last home release (see 6498f20). Maybe the home version embeded in the docker image isn't up-to-date (poke @Kloadut)?

[2015-03-23 18:04] frankrousseau commented on #325
Yes I thought it was already merged.

[2015-03-24 13:03] Tonours commented on #268
Hi,
i'm working on a svg sprite for all icons of the application.
With this technic we can reduce https requests and at the same time increase quality of icons for high density pixel screens.
I also working on a documentation to increase icons management (icon name + link to iconmonstr).
I don't know what browsers supports is but using SVG forces us to focus on IE9+, is that allright for you ?
The

[2015-03-24 14:19] frankrousseau commented on #268
Yes, it sounds good. SVG is already ready for high density pixel screens. The biggest improvement is that il will lead to less requests. Hence, the Home will be faster to load.

[2015-03-24 14:27] Tonours commented on #268
Great, apps icons are already in SVG, so it will be really quick to make the sprite.
For all other icons there is a mix between PNG and SVG, i've begin to get SVG from iconmonstr to replace PNG.
Another question is there a front end guidelines for stylesheets, (classes name, modules name etc... by example: https://github.com/lunaweb/style-guide-css ) ?

[2015-03-24 14:31] aenario commented on #268
There is : https://github.com/cozy/cozy-guidelines#css--stylus

[2015-03-24 14:36] Tonours commented on #268
Cool, thanks for the link

[2015-03-24 14:53] obigroup commented on #322
Bonjour,

Je reviens sur le ticket, quand je lance l'installation du module avec la méthode indiquée dans votre doc je me retrouve avec une erreur:

Manip1 :
git clone https://github.com/mycozycloud/cozy-home.git
npm install --production

Erreur:
[code]

Manip2:
/usr/cozy/cozy-monitor/bin/cozy-monitor install home

Erreur:
info - Install started for home...
error - An error occured:
error - Instal

[2015-03-24 14:57] obigroup opened #328 "Impossible d'installer le module avec la Hack méthode"
Bonjour,

Je reviens sur le ticket #322, quand je lance l'installation du module avec la méthode indiquée dans votre doc je me retrouve avec une erreur:

Manip1 :
git clone https://github.com/mycozycloud/cozy-home.git
npm install --production

Erreur:
[code]

Manip2:
/usr/cozy/cozy-monitor/bin/cozy-monitor install home

Erreur:
info - Install started for home...
error - An error occured:
error - I

[2015-03-24 14:59] aenario commented on #322
Cozy n'est pour le moment pas compatible avec node 0.12, il faut downgrade à 0.10.

[2015-03-24 16:42] m4dz commented on #268
Hi @Tonours!

Good news if you can handle this issue :smile:. For SVG sprite, I suggest we embed the sprite in a _def_ file like in this (unfortunately dead) commit: https://github.com/m4dz/cozy-files/commit/26d8c42afe05ea358096fa6074afb975332b43cb.

For the rest of icons, we use Font Awesome ones as the font icon is embed in our global fonts file declaration (see https://github.com/cozy/cozy-guid

[2015-03-25 10:24] frankrousseau commented on #328
On dirait que c'est la dépendance bcrypt qui pose problème. Elle ne trouve pas les bons outils pour être compilée.

[2015-03-25 10:48] obigroup commented on #328
Oui il semblerait que cela provienne de ma version de node.
Je suis passé sous la version 0.10.x et cela marche.

Merci.

[2015-03-25 14:16] frankrousseau commented on #328
Ok effectivement il va falloir qu'on s'attaque au passage à Node 0.12.

[2015-03-25 14:36] frankrousseau commented on #328
Peux-t-on fermer ce ticket ?

[2015-03-25 15:03] obigroup commented on #328
Oui pas de soucis, j'ai encore d'autres problèmes mais j'ouvrirai des tickets aux bons endroits.

Merci.

[2015-03-25 15:41] frankrousseau commented on #328
Ok cool merci. N'hésitez pas à nous parler de votre cas d'utilisation aussi. Ca peut nous aider pour répondre (et nous sommes curieux aussi ;)).

[2015-03-25 15:41] #328 closed

[2015-03-27 11:09] clochix opened #330 "Hide installed apps from marketplace"
Some users are disturbed by the fact that installed apps are still shown in Marketplace. Hiding them would be nice.

[2015-03-27 13:26] frankrousseau commented on #330
That's not the intended behavior. It's a bug.

[2015-03-30 20:49] #283 closed

[2015-04-06 13:55] fflorent commented on #298
`new Date().getTimezoneOffset()` is what you may want to detect the timezone. However, I think there are regions sharing the same timezone but managing the change of the time change differently.

So I guess the m4dz is a good compromise. Also maybe add the selection it in the initialization wizard (with a default choice based on region detection), and before the apps installation proposals.

Flore

[2015-04-13 06:36] poupotte opened #333 "Remove or rename update button"
When there isn't new application version, it may be disturbing to have an update button.

Maybe, we can hide it or rename it (ex: force update) to keep possibility to force an update.

[2015-04-13 06:42] poupotte opened #334 "Update all should check all applications"
Currently, `update all` updates only application with old version. However, home doesn't check all version before.

Thus, if there is a new version recently. When user click on `update all`, application should not updated. After home restarted, user will receive a notification for this new version.

[2015-04-15 19:47] bnjbvr opened #336 "In the installed apps list, show from which branch is based an application"
I often install applications from the app command line which are based on a github branch which isn't master. I'd like to see the name of the branch in the list of installed applications, next to the github URL, for instance.

It could be shown either all the time, or only when the branch isn't `master`.

[2015-04-16 06:35] frankrousseau commented on #336
Good idea, thank you  @bnjbvr !

[2015-04-22 12:39] clochix opened #338 "Periodic check of disk usage"
The Home should periodically check disk usage and send a notification when it's over 90%, to allow the user to run a CouchDB compaction before it's tool late.

[2015-04-26 09:22] nledez opened #339 "RAM free problem on ubuntu 15.10"
With a fresh Cozy installation on ubuntu 15.10 a user have a bad free memory value.

RAM 3920/3920 but he have 3Gb free.

Discussion in french in our forum:
https://forum.cozy.io/t/ram-pleine/548

[2015-04-28 13:15] ZeHiro opened #340 "Do not update version of app when update fails"
Hello,

sometimes, the update of an app fails (for any reason). The diplayed installed version inside config-applications is the updated one, shouldn't it be the version of the previous one?

[2015-04-28 13:30] ZeHiro opened #341 "Diplay problems and unaccessible "stop application button""
In the "config-applications" page, when :

- when "app name" + "app version" + "status" is quite long (eg : data braser 1.04 démarrée)
- an app is running  (so that "auto stop" app check box is displayed )
It is almost impossible to stop an app on clicking on the "stop icon" : when the mouse is over the icon, the icon displays "arrêter cette application". The stop icon with "arrêter cette applicat

[2015-05-04 08:10] arthurlutz opened #342 "Impossible to paste password on account creation"
Not sure if this is the right cozy project to put my issue, feel free to move it.

I generate by password in a separate software and then paste it into the initial form of the cozy welcome screen. The button to submit the form seems active, I can clic it, but it doesn't do anything. I then see that there is still a message about the password should have so many letters etc... I add a space then re

[2015-05-04 16:10] frankrousseau commented on #341
Thank you for reporting. We'll fix it for the next version that will be published in two weeks.

[2015-05-04 16:11] frankrousseau commented on #340
I think broken app should be removed. This state is useless. This behavior would fix your problem too.

[2015-05-04 16:11] frankrousseau commented on #340
Thank you for reporting @ZeHiro

[2015-05-04 16:20] frankrousseau commented on #342
Thank you @arthurlutz for reporting we'll take care of it.

[2015-05-11 10:39] arthurlutz opened #344 "cozy restart components from web interface"
I'm running cozy in docker so far, and if for some reason cozy is behaving badly I would like to be able to restart the components from the web interface instead of having to restart the docker instance. (right now I'm stuck at a high load from https://github.com/cozy/cozy-emails/issues/435

[2015-05-11 14:18] arthurlutz opened #345 "Password on login screen not remembered by browser (firefox)"
The login form for cozy does not suggest the browser to remember the password. It would be nice if it did.

[2015-05-14 12:14] frankrousseau commented on #344
Sorry, but I don't understand. The Cozy Home already allows you to change start and restart the platform, same for applications. Could you give us more details about your issue?

[2015-05-14 12:15] frankrousseau commented on #345
Thank you for reporting. @bnjbvr noticed it too and proposed a PR. That should be fixed soon.

[2015-05-15 08:34] poupotte opened #349 "Improve application information on market place."
From a user (user interview) : It should be nice to have more information about applications on market place.
As an example, we could add screenshots and more details about application features.

[2015-05-18 13:01] jsilvestre opened #351 "Applications are moved to the top (behind the top bar)"
See: https://github.com/cozy/cozy-emails/issues/328

I noticed the behaviour in Tasky too.
I think it might come from: https://github.com/cozy/cozy-home/blob/master/client/app/views/main.coffee#L235

[2015-05-19 07:57] dkm opened #353 "Update platform stuck at confirmation step"
As a notification was pushing me to update the platform, I simply clicked on "update platform" within the notifcation. I have now to confirm or cancel the order, but the "update" button is not responding. I can click it without any effect.
Cancel works. Notification is still present and the same behavior can be reproduced.

[2015-05-19 08:10] frankrousseau commented on #353
@dkm It's due to the fact you are running a special version of the Home. Thank you for notifying. We'll perform the update through the UI.

[2015-05-19 08:29] bnjbvr opened #354 "[new home] Issue when updating the platform"
STR
===

- go to the settings section ("Etats")
- click on "update" next to the platform version numbers

Expected
===

Updates starts and normally finishes.

Observed
===

Nothing happens, and in the JS console this shows up:
`TypeError: _this.stackApplications is undefined app.js:4620:6`

[2015-05-19 08:31] bnjbvr opened #355 "[new home] Missing translations in the quicktour wizard"
In particular, steps 3 ("continue to import"), step 4 ('quicktourwizard.import title' + 'quicktourwizard.import content')

[2015-05-19 08:35] bnjbvr opened #356 "[new home] Intermittent error showing up in the console"
Sorry guys, for this one I don't have any steps to reproduce, it just happens after one or two minutes on my instance...

[code]

[2015-05-19 08:36] bnjbvr opened #357 "[new home] Can update an empty password"
STR
===

- go to settings
- click the "save your new password" button

Expected
===

Either nothing happens, or there's an error stating that I can't leave any of the 3 password fields blank.

Observed
===

`Your new password is set`.

Now I am afraid to log out...

[2015-05-19 08:43] frankrousseau commented on #357
Don't worry you can log out :)

[2015-05-19 08:43] frankrousseau commented on #354
Thank you for reporting.

[2015-05-19 08:44] frankrousseau commented on #355
Thank you for reporting. That will be fixed soon for self hosted users with development branch.

[2015-05-19 08:44] frankrousseau commented on #356
Thank you for reporting.

[2015-05-19 09:02] bnjbvr commented on #356
I don't experience this issue on a cozy instance which already has photos, so I guess this is related to the preloading of thumbnails...

[2015-05-19 09:24] jsilvestre opened #359 "[new home] Very slow loading when you have many pictures"
As a user,
When I open the Home application,
Then it's very very slow to load (**the browser tab freezes** for about 45s).

Apparently the thumb loading is involved. I have around 1K pictures in my Cozy.

[2015-05-19 09:38] jsilvestre commented on #359
@Benibur mentioned that the cause could be the thumb API: if the thumb does not exist, it sends the raw picture (5 MB vs 70 KB).

[2015-05-19 10:35] jsilvestre commented on #359
Still digging, everything freezes during/after a 4 MB download. The file is a SVG file, with a thumb.

[2015-05-19 18:18] jsilvestre commented on #359
We're turning off the preloading feature for now, since we don't have enough time to do it properly now.

[2015-05-19 18:18] #359 closed

[2015-05-29 16:09] frankrousseau opened #362 "Wrong locale for 'new password is set' message"

[2015-05-29 16:59] frankrousseau commented on #351
It looks related to React. I think it happens when an error is not properly catched.

[2015-05-29 17:03] frankrousseau commented on #362
The English locale is displayed instead of the French one.

[2015-05-30 18:10] Peltoche commented on #304
If you change the path, that not follow, he keep, the old size.

[2015-06-01 11:25] #143 closed

[2015-06-01 11:25] #208 closed

[2015-06-01 11:25] frankrousseau commented on #208
It was improved by the time I open this ticket.

[2015-06-01 11:26] frankrousseau commented on #237
Let's close it. Users are now well informed that their app is out of date.

[2015-06-01 11:26] #237 closed

[2015-06-01 11:30] frankrousseau commented on #264
It's fixed with the new version. Thank you for reporting.

[2015-06-01 11:30] #264 closed

[2015-06-01 11:30] frankrousseau commented on #268
It will be fixed with the new version. Thank you for reporting.

[2015-06-01 11:30] #268 closed

[2015-06-01 11:30] #274 closed

[2015-06-01 11:31] frankrousseau commented on #274
We finally used another design better suited with UX feedback.

[2015-06-01 11:31] frankrousseau commented on #280
We will not be in beta anymore soon.

[2015-06-01 11:31] #280 closed

[2015-06-01 11:32] frankrousseau commented on #302
It will be fixed in the new version. Thank you for reporting.

[2015-06-01 11:32] #302 closed

[2015-06-01 11:32] frankrousseau commented on #303
It will be fixed in the new version. Thank you for reporting.

[2015-06-01 11:32] #303 closed

[2015-06-01 11:33] frankrousseau commented on #362
It will be fixed with new version.

[2015-06-01 11:33] #362 closed

[2015-06-01 11:33] frankrousseau commented on #355
It's fixed in the development branch. Thank you for reporting.

[2015-06-01 11:33] #355 closed

[2015-06-01 11:34] frankrousseau commented on #354
It's related to the fact you use a version based on the development branch. We'll reopen this issue if it still occures once the changes are merged into the master branch.

[2015-06-01 11:34] #354 closed

[2015-06-01 11:35] frankrousseau commented on #345
It will be fixed in the new version. Thank you again.

[2015-06-01 11:35] #345 closed

[2015-06-01 11:36] frankrousseau commented on #341
It will be fixed in the new version. The publication on the official repository is planned for June, 15th.

[2015-06-01 11:36] #341 closed

[2015-06-01 11:37] frankrousseau commented on #330
It will be fixed with the new version. Thank you for reporting.

[2015-06-01 11:37] #330 closed

[2015-06-01 11:38] frankrousseau commented on #314
It will be fixed with the new version. Thank you for reporting.

[2015-06-01 11:38] #314 closed

[2015-06-04 20:22] arthurlutz commented on #345
In which version can we expect this to be delivered ?

[2015-06-04 21:06] frankrousseau commented on #345
In version 2.0.0 that will be out on June, 15th.

[2015-06-07 20:58] frankrousseau opened #369 "Add icons to notification bar buttons"

[2015-06-07 21:02] frankrousseau opened #370 "App title is not displayed when app is accessed via the notification sidebar"

[2015-06-07 21:03] frankrousseau commented on #356
Ok thank you. It should be related to that, because, I can't reproduce the problem.

[2015-06-07 21:04] frankrousseau opened #371 "Make app title displayed lighter"
Some users reported they see too much the name of the current application.

[2015-06-07 21:05] frankrousseau opened #372 "Being able to see the app logs from the web UI"

[2015-06-07 21:06] frankrousseau opened #373 "Make the back button more explicit"

[2015-06-07 21:09] frankrousseau opened #374 "Make look settings/help/states sections more like applications"

[2015-06-07 21:14] frankrousseau opened #375 "Add a widget to easily send an email to support"

[2015-06-09 14:58] clochix commented on #357
Thanks @frankrousseau, we now have a message warning that the new password is too short.

[2015-06-09 15:03] clochix opened #378 "Reboot of instance is broken"
When I click on the button to reboot the instance, I have the following error message in browser console:
[code]

Here's the broken code:
[code]

@frankrousseau : this is annoying, do you think you'll have time to have a look during this sprint ?

[2015-06-09 15:07] clochix opened #379 "Server messages are not localized"
*STR* : go to `settings` and choose french locale, reload the page, then change your password: the confirmation message is still in english.

[2015-06-09 15:13] clochix commented on #369
Without a description nor a link to the commit, it's hard to know what to test.
I noticed:
 - a new bell icon;
 - icons on the bottom button in notification menu;

Do I miss something ?

[2015-06-09 15:17] clochix commented on #371
More discreet, nice, thanks ☺

[2015-06-09 15:24] clochix commented on #372
\o/ That's definitively very useful.
May I ask you one last think ? Could you remove the non-printable chars used to have color in terminal ?

[2015-06-09 15:26] clochix commented on #373
We now display “back home”. I don't know if it's better, so let's try and listen to users feedback.

[2015-06-09 15:30] clochix commented on #375
I don't see this feedback button, where is it ?

[2015-06-09 16:50] frankrousseau commented on #378
Yes it's a big issue. I had it in mind. I thought it was related to the development branch. I was waiting for the merge with master to fix it. But it looks like it's something else.

[2015-06-09 16:52] frankrousseau commented on #369
Crappiest ticker ever written. I can't understand what this ticket means. :_(...

Aha, I remember! It means that icons were missing in the logout and dismiss all buttons.

[2015-06-09 16:53] frankrousseau commented on #372
Don't know how to do that. Any idea? A simple replace?

[2015-06-09 16:53] frankrousseau commented on #373
+1

[2015-06-09 16:53] frankrousseau commented on #375
It's in  the help section.

[2015-06-09 16:54] frankrousseau commented on #375
It's a textarea. But it looks like something is broken (I can't send an email in production on my Cozy).

[2015-06-09 19:48] frankrousseau commented on #261
The whole wizard should be rethink. Let's close this one.

[2015-06-09 19:48] #261 closed

[2015-06-09 19:49] #285 closed

[2015-06-09 19:49] frankrousseau commented on #285
We will rework it later depending on feedback about the new Home.

[2015-06-09 19:53] frankrousseau opened #380 "Fix hard drive usage calculus"
The disk space available displayed in the States in-app is wrong. It should look for the database storage location on written in the Couchdb config file.

[2015-06-09 19:55] frankrousseau opened #381 "Allow to set app as favorites"
With the new home, apps cannot be organized freely. It's annoying because favorite apps require to scroll in the main dashboard to be accessed.

We should allow to "pin" favorites apps so they appear first in the application list located in the main dashboard (home).

[2015-06-09 19:56] frankrousseau opened #382 "Hide update button when no update is available"
It's disappointing to see an update button while no update is available.

[2015-06-09 19:57] frankrousseau opened #383 "Display a spinner while an app is loading"
Display the loading spinner when an app is launched from the home. That way a nice animation is played while app assets are downloaded. It makes the experience smoother.

[2015-06-09 19:59] frankrousseau opened #384 "Set a color on in-apps icons"
Settings, App Store, States and Help icons doesn't have background. Which makes them look weird.

[2015-06-09 20:00] frankrousseau opened #385 "Wizard didn't close properly on Chrome"
When you close the wizard on Chrome, it prevents you from clicking anywhere on the screen.

[2015-06-10 08:37] clochix commented on #375
Ok. We spoke of a widget, so I thought it was something always visible, in top bar for example.
The textarea has no border, so I find it difficult to understand there is an input field.
When I submit the form, the message is sent to postfix (but stay in the queue, because of an unrelated misconfiguration of postfix)

[2015-06-10 08:58] clochix commented on #372
`log.replace(/\033\[\d+m?/g, '')` should do the job.

[2015-06-10 08:58] clochix commented on #369
Thanks, so this seems to be done ☺

[2015-06-10 10:20] kelukelu opened #386 "Make app icons with the same size"
The app icons have a different height and width. We should make those more coherent

[2015-06-10 10:45] frankrousseau commented on #375
I don't know about where to put it. The help section is a little bit hidden. But having an help button always visible seems a little bit heavy. Any ideas?

About the textfield I attempt to match the input style but you're right. I will add left border. Once done I will inform you and I propose you tell me if it's ok for you. Is that ok for you?

[2015-06-10 10:48] frankrousseau commented on #372
Ok, thank you.

[2015-06-11 08:37] m4dz opened #387 "Factorize client request library"
At this tine, we've got three simple helpers to wrap ajax requests on client side:
- [helpers/client.coffee](https://github.com/cozy/cozy-home/blob/master/client/app/helpers/client.coffee)
- [lib/request.coffee](https://github.com/cozy/cozy-home/blob/master/client/app/lib/request.coffee)
- [lib/client.coffee](https://github.com/cozy/cozy-home/blob/master/client/app/lib/client.coffee)

They are bas

[2015-06-12 08:49] clochix commented on #375
I was thinking of an always visible widget, or an icon in top bar. @m4dz any idea on the UX of this feature ?

[2015-06-12 08:58] m4dz commented on #375
I suggest to place any buttons / widgets relevant to user actions in the lateral bar where notifications takes place. We can place here shortcuts to store / help / setings / etc as well as a feedback widget. I'll make a sketch of this asap :smile:. @kelukelu any thoughts about it?

[2015-06-12 09:46] clochix commented on #372
Thanks, it works well now ☺

[2015-06-12 09:57] clochix commented on #375
Sending a message seems broken this morning: you should use `logs.colors` here https://github.com/cozy/cozy-home/blob/development/server/lib/logs.coffee#L25 Could you fix this ASAP ?

[2015-06-12 10:00] clochix commented on #370
I'm unable to test this one, because Calendar doesn't seem to send notifications in my dev instance.

[2015-06-12 10:46] clochix opened #390 "Allow to open an application from installed application list"
Lots of users, including our CEO, complain that they can't open an application from the installed application list.

[2015-06-15 06:48] kelukelu commented on #375
The feedback tool (Intercom, Uservoice) is usually placed on the bottom right of the screen.

Some screenshots of Intercom:
* *action button*
![screen shot 2015-06-15 at 08 40 11](https://cloud.githubusercontent.com/assets/7029620/8154437/8da22e0e-133a-11e5-9886-cad7fd3d01e0.png)

* *feedback tool (opened on the right side of the screen)*
![screen shot 2015-06-15 at 08 40 20](https://cloud.githubu

[2015-06-15 13:05] #374 closed

[2015-06-15 13:06] #373 closed

[2015-06-15 13:07] #371 closed

[2015-06-15 13:07] #369 closed

[2015-06-15 13:07] #357 closed

[2015-06-15 13:09] clochix commented on #356
@bnjbvr I'll close this for now, don't hesitate to re-open the ticket if you encounter again the error.

[2015-06-15 13:09] #356 closed

[2015-06-15 13:10] #370 closed

[2015-06-15 14:26] ajeantet commented on #339
Hi,
I have the same bug on ubuntu 15.04 fresh install
Free returns
<quote]>
             total       used       free     shared    buffers     cached
Mem:       4020944    1794464    2226480      16232     100584    1121592
-/+ mémoire tampon/cache :     572288    3448656
Mémoire d'échange :     523260          0     523260
</quote>

[2015-06-15 14:26] clochix commented on #381
Thanks @frankrousseau, it works well ☺
Two last points:
 - the alternate text when hovering the star is not translated;
 - shouldn't favorited apps have a yellow star instead of a black one ?

Also, this feature is great, but hard to discover. Any idea on how to make it more discoverable ?

[2015-06-15 14:33] clochix commented on #382
Works great, thanks.

[2015-06-15 14:33] #382 closed

[2015-06-15 14:34] clochix commented on #383
Nice !

[2015-06-15 14:34] #383 closed

[2015-06-15 14:34] #384 closed

[2015-06-15 14:38] clochix commented on #385
Thanks, it works !

[2015-06-15 14:38] #385 closed

[2015-06-15 14:40] clochix commented on #386
Nice, thanks ☺

[2015-06-15 14:40] #386 closed

[2015-06-15 14:41] #372 closed

[2015-06-16 06:40] silvyn opened #392 "Sync icon missing (xml error SVG)"
Hi,

The SYNC app icon is broken. If I've a look at source, there is a xml error in the SVG (cozycloud.cc/api/applications/sync.svg)

Erreur d'analyse XML : préfixe non lié à un espace de noms
Numéro de ligne 2, Colonne 1 :
<svg
^

[2015-06-16 11:39] clochix commented on #392
Thanks for reporting @silvyn.
@m4dz ou @kelukelu, could you have a look at this please ?

[2015-06-16 11:42] kelukelu commented on #392
It should be fixed with the new home

[2015-06-16 11:45] clochix commented on #251
@m4dz is this ticket still relevant with the new Home ?

[2015-06-16 12:20] clochix commented on #378
@frankrousseau this doesn't seem to be fixed, do you think you'll have time to have a look at this, or should I ask someone else ?

[2015-06-16 12:25] clochix commented on #378
Sorry, it seems to work now, it seems like I had some cache problem. Is it ok from your point of view ?

[2015-06-16 14:39] jankeromnes commented on #324
I'm not able to try to reproduce, because when I build and run `cozy-docker`, I'm now unable to access the web app (connecting to `https://localhost` yields `ERR_CONNECTION_CLOSED`).

[2015-06-16 14:53] jankeromnes commented on #324
All good now! It seems Cozy just took a very long time to initialize itself. I tried and couldn't reproduce this bug anymore. Thanks!

[2015-06-16 14:53] #324 closed

[2015-06-16 19:45] ZeHiro opened #396 "Close notification panel when clicked on "ouvrir l'application""
When opening a notification on the new home (2.0), and "ouvrir l'application" is clicked,
the notification panel should be closed, as otherwise it is on top of the application, and another click is necessary to completely see the application content.
It should be the same behaviour when the 'effacer toutes les notifications 'button is clicked

[2015-06-17 07:40] aenario opened #397 "Spinner is the same for install and start"
**Step to reproduce**
Start with a new self-hosted cozy, lauch a few simultaneous installs.
Wait for one app to be done installed
Lauch that app

**Expected**
I should be able to understand that the app is getting started.

**Actual**
The app is starting and spin like the installing ones. It feels like the app is getting installed again and its confusing

**Priority**
Pretty low, as most user shou

[2015-06-17 11:28] Thatoo opened #399 "choose a background image from cozy-photo"
Hello,

With the last update of cozy-home, we can choose our background image, but we have to upload it from our computer.
What about the image we already have in cozy-photo and cozy-files (sync to our pocketcomputer)?

Have a smiling day,
Thatoo

[2015-06-17 11:49] dkm opened #400 "Can't start installed apps, icon spinning then change to broken"
After reading about the new release, I logged in my cozy. I started the photo app without prob, then went back to home: first surprise=> icon for photo is the spinning one. Then I click on file => spinning also and nothing else happens. Finally the nirc one, spinning also, still nothing else.... Then nirc started correctly after a few seconds. Went back to home => the 3 icons still spinning.
File

[2015-06-17 13:18] clochix opened #401 "Spinner after app start"
After starting an application, sometime when coming back to home screen, the spinner is still spinning around application icon.

Also, I just got this funny display bug:
![tourne](https://cloud.githubusercontent.com/assets/384908/8207808/20093100-1504-11e5-8716-78fd7af3dd54.png)

[2015-06-17 13:42] clochix commented on #401
I started the calendar application, which is broken. When I come back to home screen:
 - I have an "Calendar's installation failed" notification (calendar was already installed, but crash on start);
 - calendar icon is spinning;
 - the spinner keeps spinning for every other application I start, until I reload the page;
 - on time, I had the previous screenshot, where both icon and spinner are show

[2015-06-17 15:31] HLFH opened #403 "La page demo Cozy est détectée comme malware"
Salut mes chers compatriotes,

Attention. La page demo de Cozy est listée (faux-positif bien entendu !! ligne 6425) dans la liste [Malware-domains](http://www.malware-domains.com/) "Just-Domains", aussi liée à l'extension uBlock Origin.

[Vous pouvez les contacter ici.](http://www.malwaredomains.com/?page_id=13)

Je fermerai quand la liste sera corrigée et mise à jour.

Merci d'avance,

[2015-06-17 15:44] clochix commented on #403
Merci du signalement @HLFH, nous avons effectivement constaté que le démonstrateur figure sur plusieurs listes de serveurs distribuant des logiciels malveillants.

Un utilisateur a téléversé voici plusieurs semaines quelques fichiers vérolés dans l'application Files du démonstrateur, ce qui a conduit à cette mise sur liste noire.

Nous sommes en train d'étudier les moyens pour éviter que cela se r

[2015-06-17 15:53] clochix commented on #400
Thanks for reporting @dkm. Could you provide some context : are you self-hosted or on an instance we host ?
What's the version of the applications of the platform (Home…)

@poupotte : the error message looks like the issue you just fixed some hours ago, do you think it may be the same ?

[2015-06-17 15:56] clochix commented on #399
Thanks for the suggestion @Thatoo, that's a great idea. We are working on a better way to share pictures between applications, so choosing a background picture from anotre application could be available in a near future.

[2015-06-17 16:01] Thatoo commented on #399
Thanks @clochix , good luck! We'll be patient :-)

[2015-06-17 16:03] clochix commented on #396
Thanks for reporting @ZeHiro, we'll do our best to fix this.

@frankrousseau, do you think it would be easy to close the notification panl when a new application is opened ?

[2015-06-17 18:28] clochix commented on #392
@silvyn did you update to the new home ? Is it fixed now ?

[2015-06-17 19:40] clochix commented on #392
@kelukelu other users confirms the icon is still bloken, even after upgrading Home to the latest version, restarting the instance and emptying the cache. Could you investigate. (FTR, on my instance api/applications/sync.svg is in fact a PNG, not a SVG image)

[2015-06-17 19:48] kelukelu commented on #392
To fix this issue, you need to remove the Sync app (thanks to the Status app).
And install it again (thanks to the Store app).
Home Icons are not updated with the newest version of apps or platform. So far to get the last icons you need to uninstall the application and install it again.
We need to figure out a way to fix it from a technical point of view.

[2015-06-17 20:54] dkm commented on #400
On 17-06-2015 17:53, Clochix wrote:

instance you host

files -  1.1.8 - started
nirc -  1.0.0 - started
photos -  1.0.13 - stopped

Data System: 2.0.0
Proxy: 2.0.0
Home: 2.0.1
Controller: 2.0.24

Note that when starting photo app, its icon changes to the spinning one
and stays that way (app works correctly)

[2015-06-17 20:56] clochix commented on #401
May be related to #400

[2015-06-18 06:20] ZeHiro opened #404 "Missing french locale for 'refresh page'"
Hello,
when clicking on 'Mettre à jour'  of the plateforme section of 'Etats' and thes click 'OK' , the only displayed text is :  'refresh page' . The locale is 'FR' on my cozy.
![capture d ecran de 2015-06-18 08-19-04](https://cloud.githubusercontent.com/assets/7999082/8225281/d6b6d982-1592-11e5-8ca1-8ea638901a88.png)

[2015-06-18 06:37] ZeHiro opened #405 "When update of plateform is done, the notification 'New plateform is available' is done"
Hi,

This morning, a new version of the plateform was availabe, so a notification was here.
I did the update, but after the update is finished, the notification was still here.

[2015-06-18 07:49] clochix opened #406 "Inform the user that support form is sending server logs"
When a user use the support form in Help panel, the form send us the logs of the server. This is useful, but user are absolutely not aware of this behavior. I think we must at least inform the user that its logs will be sent.
A better practice would be to add a checkbox, allowing users to choose not to send us logs.

[2015-06-18 07:55] clochix commented on #404
Thanks @ZeHiro for reporting, I noticed the same bug yesterday but didn't investigate. We'll have a look at it.

[2015-06-18 07:57] clochix commented on #405
Thanks for reporting.
@poupotte, any idea ?

[2015-06-18 08:28] nicodel opened #407 "Duplicate application icons when going back to home from an application (email)"
Cozy Instance hosted on Cozy infrastructure (nicolas-6)
Data System: 2.0.0
Proxy: 2.0.0
Home: 2.0.1
Controller: 2.0.24
emails -  0.9.1

Step to repoduce:
1. Open the email application
2. Do whatever you want in it
3. Click on the Go back Home button

What's happening:
A new icon appears just below the application icon (see below)
![capture du 2015-06-18 10-20-19](https://cloud.githubusercontent.co

[2015-06-18 08:38] clochix commented on #407
Waouh, you have been well educated, this is definitively the way to report a bug ;-) Tanks for reporting. I think this one is related to #400 and #401, we'll have a look.

[2015-06-18 09:37] m4dz opened #408 "Sprite apps icons"
For performance and for a simpler way to handle apps icons in home, we should rely on SVG Sprites to display icons. I suggest 3 actions:

1. Use SVG for all apps icons (already the case, normally)
2. Make home serves a dynamically generate [Sprite of defs](https://css-tricks.com/svg-sprites-use-better-icon-fonts/) that groups all SVGs for installed apps. The file should be generated by the home at

[2015-06-18 11:21] aenario commented on #408
Note on this : https://www.npmjs.com/package/iconizr is too heavy to be added in our deploy dependencies (phantomjs & stuff), https://www.npmjs.com/package/svg-sprite could do the job, but that means giving up on png icons, so giving up on IE.

[2015-06-18 12:16] m4dz commented on #408
SVG-Sprite will do the trick, of course. Note also that in fact the goalis just to read files contents to agregate them into a single file which can be done by hand simply too :smile:.

About IE, kicking out PNG in favor of SVG means only kicking out IE 8 (http://caniuse.com/#search=svg), which, in fact, is already totally out of our scope :laughing:. (_ya know, IE isn't as bad as we think_).

[2015-06-18 13:17] poupotte commented on #304
Hi @Peltoche ,
I'm not sure to understand.
You have an uncorrect size if you change your couchdb location ?

If it's the case, your problem is similar to #380. It should be fixed in the new controller version.

[2015-06-18 14:30] poupotte commented on #400
Hello @dkm,

We have corrected some problems in data-system yesterday and this morning. It should fixed your issues.
You can try to update your stack or wait, we'll update all cozy this afternoon.

Don't hesitate to tell us if your cozy continue to have problems after update.

[2015-06-18 14:57] clochix opened #409 "`submitPassword is not defined` on login page"
When I submit the login form, I see a javascript error message in Firebug console.

[2015-06-18 15:12] dkm commented on #400
Hi!
Thanks for the support.
I've updated everything using the update all button and everything went fine.

But still, file app still displays the auth problem (I tried to stop it first). nirc and photo app work fine, but photo icon in home page is still spinning :) After stopping it (through the status page), it seems to be working fine.

I hope you can make some sense from this report... I'm doin

[2015-06-18 15:30] poupotte commented on #400
Thanks @dkm ,

For file application : auth problem disappears afterthe application restart ? If problem persists, you can try to reinstall it.
For photo application : it's an known issue (#407), I'm working on it.

[2015-06-18 15:50] poupotte opened #410 "Weather stay in market after installation"

[2015-06-18 15:51] poupotte commented on #410
This PR (https://github.com/cozy-labs/cozy-registry/pull/10) should fix it

[2015-06-18 16:19] poupotte commented on #405
No idea, it seems work on my cozy :/

[2015-06-18 21:58] silvyn commented on #392
@clochix not better with update. Finaly I've delete app. Try to reinstall it, but seems take time..

[2015-06-19 07:39] poupotte opened #412 "Icons aren't update without reinstallation"

[2015-06-19 07:49] clochix commented on #405
Thank you @poupotte. I didn't reproduce.
@ZeHiro do you still have the notification after login out and in again ?

[2015-06-19 08:11] kelukelu opened #413 "On Boarding - enhance current design"
Work on the current "On Boarding" (Quicktour) to make it sexier and more dynamic.

[2015-06-19 09:27] clochix commented on #390
Awesome !!!!!! @Benibur will be happy. Thanks !

[2015-06-19 09:32] clochix commented on #336
Thanks, that's really useful and works like a charm.

[2015-06-19 09:33] ZeHiro commented on #405
After the update, re-logon, the notification is still here, but it deseappeares a few seconds later, maybe it is just because the notifications are requested later in the process.

[2015-06-19 09:48] clochix opened #415 "Broken application icon is not a square"
`img/broken.png` is not a square, so broken applications name is not aligned:

![casse](https://cloud.githubusercontent.com/assets/384908/8250981/dac9c3e0-1678-11e5-875c-7b2b647af662.png)

[2015-06-19 09:51] clochix commented on #378
It works fine now, thank you !

[2015-06-19 10:12] poupotte commented on #409
It's an issue which concerns proxy application.
I think @frankrousseau 's commit (https://github.com/cozy/cozy-proxy/commit/510563bf4521b82f527cd42504827620ba7c9649) should fix is

[2015-06-19 15:20] clochix opened #417 "Add link to application logs in error page"
Now that we can display application logs, we could add a link to them in application error page.
We also have in help screen a form allowing to send a message and logs to Cozy Support. Adding this form to the error page may be a good idea.

[2015-06-19 18:01] frankrousseau commented on #381
I won't be able to work on this until july.

[2015-06-21 12:00] dkm opened #418 "Signout link hard to find"
I had to search few minutes before finding the signout at the very bottom of the notification bar... Maybe it could be somewhere easier to find ?

[2015-06-22 07:55] clochix opened #419 "Fix locales for update / restart"
See comments in https://github.com/cozy/cozy-home/commit/a18a768512aab4e98c599536fce424d3346d0a05

[2015-06-22 07:58] clochix commented on #418
Yes, we need to improve this.
Also, some users regrets the old menu allowing to switch from apps without navigating to the home.
Should we add a new menu “à la windows start”, with quick access to applications, settings, and log out ?
@m4dz, @kelukelu, any advices ?

[2015-06-22 07:59] clochix commented on #418
(you may want to open a thread in the forum to discuss this openly)

[2015-06-22 08:00] clochix commented on #381
Pinging our UX stars for advice on how to make this feature more discoverable /cc @m4dz @kelukelu.

[2015-06-22 08:05] kelukelu commented on #418
A sidemenu, for a quick navigation, should be an interesting path to explore.
Probably the subject of a future sprint.

[2015-06-22 08:08] kelukelu commented on #381
Last time I suggested Frank to add a button "favorite" in the buttons group (with remove, stop, show logs)

[2015-06-22 08:09] dkm commented on #418
I think that simply changing the icon (the small bell) by something different could help.
The bell should be used for notification only. As this menu is used for more that notif, its icon should be more generic (eg. something like the android 3 vertical dots).

[2015-06-22 08:12] clochix commented on #381
IMHO we already have too many actions in this group. It looks like a big block of blue, and few people will take the time to read the label of each button. Maybe should we also think of refactor this menu to make it more attractive.

[2015-06-22 09:13] kelukelu commented on #381
I guess you're right

[2015-06-22 12:01] clochix commented on #410
Sunny ! Thanks @poupotte, it works for me now

[2015-06-22 12:03] clochix opened #420 "Give better feedback after application installation"
When installing an application, it would be nice to display a message confirming the application has been installed (with a link to launch it ?). For now, the spinner disappear in the market but there's no feedback.

[2015-06-22 12:07] clochix commented on #400
@dkm can w consider the initial problem is solved and close this ticket ?
For photo application, resolution will be in #407.
For file application, do you still have the problem ?

[2015-06-22 12:43] dkm commented on #400
I can say that I have not seen the erratic behavior again. I let you decide if it is fixed or not.
As for the link with #407 , again, I let you decide if it's relevant or not. In my case, it was not a duplicated icon but an incorrect one.

[2015-06-22 12:47] clochix commented on #400
Thanks @dkm, I will mark this as resolved for now, as I'm unable to reproduce. If you face this problem again, don't hesitate to come back here ;-)

[2015-06-22 12:48] clochix commented on #401
This seems to work now, thanks a lot @poupotte.

[2015-06-22 14:42] clochix opened #421 "Prevnt setting an empty email address"
For now, we validate the user address of the user with a regular expression, but allow to set an empty string.
Also, my instance is in french and when I set an invalid address, I just get an untranslated "error", without any detail. Would be fine to display the (translated) full message sent by the server, describing the error.

[2015-06-22 17:45] ZeHiro opened #422 "Fix delete request for notifications"
Hello,

On Cozy (self hosted) :

Data System: 2.0.4
Proxy: 2.0.0
Home: 2.0.2
Controller: 2.0.24

When a "installation fail"notificaiton is raised,
The DELETE http request get a 404 answer. The notifications are kept in the DB and reappear next time the page is updated. The delete request is sent by clicking on the cross of the given notification.

The "DELETE ALL" button works fine.

[2015-06-22 21:37] clochix commented on #422
Thanks for noticing, we'll take care of this.

[2015-06-22 22:15] clochix opened #423 "Starting an app should open it"
Our beloved user @goofy-bz find it disturbing that, when from the application management page he clicks on the button to start an application, nothing seems to happen.
When a user clicks on Start, he probably expect the application to really start in front of him, not in the background.

[2015-06-23 10:23] clochix opened #425 "Display bug after upgrading an application"
Hub [reported in the forum](https://forum.cozy.io/t/etats-bug-affichage-suite-a-une-mise-a-jour-dune-app/785/1) that after updating an application, the update button stay green

[2015-06-23 11:28] poupotte commented on #310
The new home version (from 2.0.0) fixes this issue.

[2015-06-23 11:28] #310 closed

[2015-06-24 08:58] clochix opened #426 "Don't allow to update instance URL on hosted instances"
On the demos instances we host, users are allowed to update the url of their server, but this change will have no effect, so I think this field should be read-only.

[2015-06-24 09:00] nledez commented on #426
Yes, on all instances we manage. Good idea :+1:

[2015-06-24 09:03] neurolit commented on #426
Thanks @nledez ;-)

[2015-06-24 09:22] clochix opened #427 "Sending a message to fails when an application has no logs"
When sending a message using form in help screen, we collect the logs of every applications.
If one application is broken and has no logs, the srever crashes.
See https://github.com/cozy/cozy-home/blob/master/server/lib/logs.coffee#L40

[2015-06-24 09:26] nledez commented on #426
Welcome @neurolit :)

[2015-06-24 09:36] poupotte opened #428 "Display backup log if current log doesn't exist"

[2015-06-24 12:47] ZeHiro opened #429 "Consider upgrading de americano"
The used version of americano is old, and require version 4.4.0 of express.js. But this version of express has a bug concerning cache-control header (max-age is not properly set, the cache is not effective). Version 4.4.1 fixes it. See change log here :

https://github.com/strongloop/express/blob/master/History.md

[2015-06-24 15:25] clochix commented on #429
Thanks for noticing @ZeHiro.
@aenario, any opinion ?

[2015-06-24 15:37] poupotte opened #431 "Message at the end of update stack isn't correct"

[2015-06-24 15:44] poupotte opened #432 "We can't remove a device"

[2015-06-24 18:00] ZeHiro commented on #429
To avoid incompatibilities, creating a new minor version of americano (0.3.x) changing only the version of express with the 4.4.1 one should fit (i dind't test ).

[2015-06-24 19:52] ZeHiro commented on #429
Well, my caching problems don't seem to come from there, but from gzip of static files.

[2015-06-24 20:12] ZeHiro opened #433 "svg icons don't have cache-control headers"
Images located at api/applications/*.svg do not have cache-control headers. They are served each time again.

[2015-06-24 20:42] aenario commented on #429
Should be done anyway.

[2015-06-25 07:16] clochix commented on #433
Pinging @m4dz

[2015-06-25 08:03] aenario commented on #433
Note to implementer, we need to copy headers at :
https://github.com/cozy/cozy-home/blob/dfca39de46c217105641f3a37a504a6b6cb24b77/server/controllers/applications.coffee#L182

Or simpler, use cozydb baseController sendBinary.

[2015-06-25 09:45] poupotte commented on #333
This issue was fixed with the new home version. @clochix , can we close it ?

[2015-06-25 09:47] poupotte commented on #349
An other user in the forum has the same suggestions : https://forum.cozy.io/t/ui-store-description-resume-trop-succint-de-chaque-app-du-store/796

[2015-06-25 11:41] clochix commented on #333
Yes we can !

[2015-06-25 14:23] clochix opened #434 "OnBoarding and notification on small screens"
On forum, Marie reported a [display bug on small screens](https://forum.cozy.io/t/petit-bug-daffichage-du-calque-notification-sur-iphone/808) during on boarding.

[2015-06-25 15:08] clochix commented on #428
Nice move and works perfectly, thanks @poupotte

[2015-06-25 15:16] clochix commented on #425
Thanks for the fix, it seems to work now. Great job ☺

[2015-06-25 15:18] clochix commented on #427
Yeepee, this is fixed, thanks @poupotte

[2015-06-25 15:22] clochix commented on #421
Awesome. Simply awesome.

[2015-06-25 15:24] clochix commented on #419
Works fine now, thanks :rose:

[2015-06-25 15:42] clochix commented on #422
I'm unable to reproduce, so I think this is fixed. Thanks ☺

[2015-06-25 16:03] clochix commented on #404
It works now, thanks ☺

[2015-06-25 16:05] clochix commented on #407
Same as #400 and #401, should be fixed in next release ☺

[2015-06-25 16:08] clochix commented on #396
Thanks @poupotte, it works great now ☺
@ZeHiro the fix will be available in next version of the application, in a few days.

[2015-06-25 16:13] clochix commented on #396
The notification panel is closed, but the notification is not removed. I wonder if we shouldn't also remove it when opening the application.

[2015-06-25 16:23] ZeHiro commented on #396
OK, i'll test it. To me the notification should be closed.

[2015-06-26 08:18] clochix commented on #304
@Peltoche I think this has been fixed with the latest controller version (published early this week) and in the development branch of the Home. Would you like to try to test now, or wait until we release the Home to the stable branch ?

[2015-06-26 09:30] PCYoshi commented on #204
+1

[2015-06-26 09:50] PCYoshi opened #436 "Languages selection"
Capital letter is missing for "espagnol" language:
![capture](https://cloud.githubusercontent.com/assets/10532348/8374872/24b85428-1bf9-11e5-9910-fd4db1fb987a.png)

[2015-06-26 12:02] poupotte opened #437 "Check update for stack application seems broken"
I have the last version (2.0.0) of proxy and it is displayed in orange.

In my database, I have :
[code]

[2015-06-26 13:38] nledez commented on #426
May be be also added to Debian package. What do you think about that? cc @clochix @Kloadut

[2015-06-26 14:43] poupotte commented on #396
Notification should be remove with last commit https://github.com/poupotte/cozy-home/commit/af1454a83607be7be1dfb85bb3a19b9f598cb424

[2015-06-26 15:28] Peltoche commented on #304
Yes, I moved on controller 2.0.26 and it's fixed! Thanks a lot!
Now I have this -> 351 / 3.9 T

Juste some another comments:
- Maybe that will be great to add the "size type" on the used space? Like 351M/3.9T.
- That's print 3.9T and it's my total size but I use some of this space in other applications or data so in reality I haven't 3.9T but 2.XT of space not used. So you print total space but no

[2015-06-26 18:55] clochix opened #439 "Unable to revoke access to a device"
Problem reported by Chouffy (chouffy.cozycloud.cc): he has synchronized a smartphone with it's server and is unable to revoke access : the revocation seems to work, but after reloading the page, the device is still present.

[2015-06-26 18:59] clochix opened #440 "Add version of applications to the report sent by the help form"
Knowing the version of the installed applications, especially from the stack, may help diagnose the problem.

[2015-06-26 19:13] clochix opened #441 "Display a changelog on application update"
As reported by Michaël (nerdherd45.cc.cc) and many other users, not knowing what's new is a little bit frustrating when updating an application. We should find a way to, at least, display the full changelog of the application.
Maybe adding a `CHANGELOG.md` file to each repository. Or a field in `package.json` with the name of the changelog file…

[2015-06-27 06:01] clochix commented on #304
\o/ Thanks you for testing @Peltoche and congrats to @poupotte for fixing.

@poupotte could you add the unit of the used space ?

Regarding your second comment, what do you suggest we could do to improve this ?

[2015-06-27 11:46] Chouffy commented on #439
I'll add that that the button change for a loading circle for ~1 sec (after confirmation), then goes back to "revoke device", but without the bin icon.

I've added a second device, and I'm unable to revoke it either.

[2015-06-27 11:48] Chouffy commented on #439
For information :
Data System: 2.0.4
Proxy: 2.0.0
Home: 2.0.2
Controller: 2.0.26

[2015-06-27 11:50] Chouffy commented on #439
Log (redacted) :

[Sat, 27 Jun 2015 11:45:01 GMT] - DELETE /api/devices/DEV_ID - 500 - 9.487 ms -  21
Error: Parsing error : Unexpected token C, body=
 Cannot DELETE /device/DEV_ID/

    at parseBody (/usr/local/cozy/apps/home/node_modules/request-json/main.js:19:19)
    at Request._callback (/usr/local/cozy/apps/home/node_modules/request-json/main.js:124:18)
    at Request.self.callback (/usr/loc

[2015-06-27 19:43] clochix commented on #439
@Chouffy: I tried to manually delete the device in database, can you try if you still see it ?

@poupotte we try to delete the device without providing a revision, so we get `{"error":"conflict","reason":"Document update conflict."}` which isn't well catch. I don't know if the error is in Home or CodyDB (ping @aenario ).

I successfully deleted the document with curl by adding its latest revision

[2015-06-27 19:44] clochix commented on #439
@Chouffy by the way, thanks for this detailed report, it was helpful ☺

[2015-06-27 22:37] Chouffy commented on #439
@clochix The device appear no more in the manager.
I'm still unable to revoke the other device, the log has recorded the same error (it's for the test, I don't want to delete it so don't worry about that).

[2015-06-28 14:25] Thatoo opened #442 "Portrait image background"
I have a new improvment that could be good about the picture bacground.
Would it be possible to upload a portrait picture (and not only landscape pictures) and the picture would move to the bottom at the same time than the home screen when we scroll the list of app?
At the top of the list of app, we see the top of the picture and when we reach the bottom of the list of app, we see the bottom of th

[2015-06-29 11:44] aenario commented on #420
Note : the spinner also disappears if the user refresh the page while the app is still installed, then the user can try to install it again and see the "similar name" error.

[2015-06-30 12:13] aenario commented on #439
@poupotte , could you take a look ?

It seems cozy-home call a now defunct route of the data-system.

https://github.com/cozy/cozy-home/blob/4a818e928115b878764e1766cdb83b31117fb43b/server/controllers/devices.coffee#L26

[2015-06-30 14:06] clochix opened #444 "Support message not sent when logs are too heavy"
When a user use the contact form in Help screen, we attach the logs of every applications to the message. If log files are too heavy, Postfix refuse to send the message. User has no feedback and doesn't know that it didn't work.

[2015-06-30 14:34] clochix commented on #444
Maybe could we gzip the logs to minimize the risk of reaching some limitation (event if we increase the max message size the server can send, some intermediate server may refuse message if it is too big)

[2015-06-30 14:37] aenario commented on #444
Or only take the last N bytes of log files (should probably wait for syslog)

[2015-06-30 14:48] nledez commented on #444
May be start with compression (tar cz for example) is a good idea.

[2015-06-30 14:53] nledez commented on #444
For now I've just update postfix configuration in our infrastructure to allow to send 30Mb messages.

[2015-07-01 09:47] clochix commented on #423
Thanks a lot @poupotte, @goofy-bz will be happy ^^

[2015-07-01 09:54] clochix commented on #437
It seems to work, thanks @poupotte

[2015-07-01 12:05] clochix commented on #439
Thanks @poupotte, it works fine now ☺
@Chouffy can you update your stack and try to remove your device ? It should have been fixed.

[2015-07-01 12:06] clochix commented on #432
I think this is the same as #439 so marking it as resolved, thanks @poupotte ☺

[2015-07-01 12:08] clochix commented on #436
@PCYoshi we just released a new version of the Home that fixes this typo. Thanks for reporting (and thanks @poupotte for fixing)

[2015-07-01 15:36] Chouffy commented on #439
Hi,
I updated to :
Data System: 2.0.5
Proxy: 2.0.1
Home: 2.0.3
Controller: 2.0.26

but the problem is still present & the same.

Here is the log :

[code]

[2015-07-01 16:45] goofy-bz commented on #423
I confirm this is working as expected!

[2015-07-01 17:04] nledez opened #446 "ESC keybiding to return home"
I would like to have a keybinding for go to home if I press "ESC".

[2015-07-02 07:42] #333 closed

[2015-07-02 07:42] #336 closed

[2015-07-02 07:42] #378 closed

[2015-07-02 07:42] #390 closed

[2015-07-02 07:42] #396 closed

[2015-07-02 07:42] #400 closed

[2015-07-02 07:42] #401 closed

[2015-07-02 07:42] #404 closed

[2015-07-02 07:42] #407 closed

[2015-07-02 07:42] #410 closed

[2015-07-02 07:42] #412 closed

[2015-07-02 07:42] #419 closed

[2015-07-02 07:42] #421 closed

[2015-07-02 07:42] #422 closed

[2015-07-02 07:42] #423 closed

[2015-07-02 07:42] #425 closed

[2015-07-02 07:42] #427 closed

[2015-07-02 07:42] #428 closed

[2015-07-02 07:42] #432 closed

[2015-07-02 07:42] #436 closed

[2015-07-02 07:42] #437 closed

[2015-07-02 07:46] clochix opened #447 "Find a way to localize applications description and permissions request"
User frequently report that neither the description of the application nor the permissions requests are translated. See for example this [thread](https://forum.cozy.io/t/traduction-francaise-installation-des-applications/851).

We should find a way that allow to add translations into `package.json`.

[2015-07-02 07:53] clochix commented on #447
We could use the same semantic as used in manifest of WebApps for Firefox OS, with the [locales](https://developer.mozilla.org/en-US/Apps/Build/Manifest#locales) section of the manifest : “A map of one or more language-specific overrides of the field values in your app manifest.”
[code]

[2015-07-02 08:12] babolivier commented on #447
As suggested on the forum, another way to do this could be to have several JSON files, one per language (e.g. fr.json, en.json, etc) in a same directory (for instance "/permissions"), working the same way as the locale files (/client/app/locales/) on most apps.

[2015-07-02 08:20] clochix opened #450 "Translate langage settings"
As [reported by robin](https://forum.cozy.io/t/feedback-parametres-selection-de-la-langue/848/1), for now the language menu is displayed in the same language as the interface. So if the interface is displayed in Japanese and I want to set it to french, I have to guess how french is spelled in Japanese. Each language name should be displayed in both source and target language.

[2015-07-02 08:30] clochix commented on #446
I don't think `Esc` is a good choice for this feature, because it's already used for other actions, for example closing popup windows inside applications.
Also, I think it may be hard to implement, I don't know if Home window is notified on each keypress in children iframes.

[2015-07-02 08:31] dkm opened #451 "Icon still spining after app start"
Step to reproduce:
 - click photo app icon [icon starts spinning, then goes back to normal icon, then app starts...]
 - when in photo app click 'back to home'

Photo app icon is spinning endlessly.

Maybe related to #400 ....

[2015-07-02 11:17] clochix opened #452 "Redirect to login screen if session expires"
If we detect that session has expired, we should redirect to login screen without any user interaction (and display a warning message on login screen), to prevent user to try to interact with Cozy being disconnected.

[2015-07-02 12:04] m4dz commented on #434
This one is related to the #453, and should be no more exist since we remove the wizards. Notifications pane already has a high z-index value, I think it'll no more be overlayed by any other component.

Note also that, IMHO, it's logic if wizard are above the notification panel as long as they are modals :wink:.

[2015-07-02 12:59] clochix commented on #451
Hello @dkm,
We thought it was fixed in latest version of the home.
Could you give us the versions of the stack applications ? thanks.

[2015-07-02 13:13] #415 closed

[2015-07-02 13:14] clochix commented on #409
I still see this message in the console. @frankrousseau, any idea ?

[2015-07-02 13:17] clochix commented on #405
@ZeHiro did you have the same behavior after latest update of the platform ?

[2015-07-02 13:18] clochix commented on #392
Hello @silvyn,
Did reinstalling the Sync application fix the icon problem ?

[2015-07-02 13:20] clochix commented on #380
@frankrousseau I'm not sure to understand what did you meant, so could you check if latest fixes from @poupotte displays the value you expected ?

[2015-07-02 13:27] clochix commented on #339
Hi @ajeantet,
some fixes have been published. Could you try to update to the latest version of Home application, and see if free RAM displayed is more accurate ? Thanks !

[2015-07-02 13:34] clochix commented on #304
@aenario could you just add the unit on the used space ?

[2015-07-02 13:41] f6fvy opened #454 "Login background is different from the home background"
The login screen background picture is not the same as the one used in the home screen (that can be changed by the user).

[2015-07-02 14:08] clochix commented on #323
the first run wizard is being refactored, so this issue is not relevant anymore. Thanks for reporting @jankeromnes ☺

[2015-07-02 14:08] #323 closed

[2015-07-02 14:16] dkm commented on #451
On 02-07-2015 14:59, Clochix wrote:

Data System: 2.0.5
Proxy: 2.0.1
Home: 2.0.3
Controller: 2.0.27

Note that after few hours, the icon is back to normal...

[2015-07-02 17:13] frankrousseau commented on #380
It's fixed by my own changes. Let's close this issue.

[2015-07-02 17:13] #380 closed

[2015-07-02 17:14] frankrousseau commented on #409
I think it's fixed. Whatever the proxy is fully refactored. Let's close this one. Thx @clochix for reviewing.

[2015-07-02 17:14] #409 closed

[2015-07-02 17:21] frankrousseau commented on #410
Be careful, the app author just changed the name again.

[2015-07-02 18:12] ZeHiro commented on #422
I get nice "204" responses, thanks

[2015-07-02 18:13] ZeHiro commented on #396
It is, thanks @poupotte

[2015-07-02 18:37] clochix opened #455 "Warn users with JS disabled"
Users coming to the demo page with a browser with JavaScript disabled see nothing but a white page. We should display them a warning message, that the site need JavaScript. (demo is blacklisted in some malware lists, so some extensions prevent execution of scripts from this domain, and users just see a white page).

[2015-07-02 20:48] clochix commented on #375
Also see [this feedback](https://forum.cozy.io/t/feature-request-ajouter-un-bouton-de-feedback-par-application/868).

[2015-07-03 12:31] clochix opened #456 "Improve application description in popup"
Try to extract more information from package.json to display them in application description popup (as requested [in forum](https://forum.cozy.io/t/feature-request-afficher-le-nom-des-developpeurs-dapplications/870/1)).

[2015-07-03 12:32] robinmoussu commented on #375
I think that a button can be added on the top-bar, or inside the notification panel.
Furthermore, it can be contextual. eg: if I'm on the main page, it's cozy support, and if I'm on an application, it's link to the support of that application, so if it is an unofficial application, you wont receive noise about it. It can be a simple link to the issue section of github.

[2015-07-03 12:58] clochix commented on #456
If `package.json` contains the URL of the bug tracker of the application, we could also add a link to this bugtracker instead of our forum.

[2015-07-03 13:06] clochix commented on #454
Thanks for this suggestion @f6fvy. Imho, the choice should be left to the user to user either its choosen background or the default one (To preserve their privacy, I don't want the photo of my cats I use as background image to be displayed on the public login page).

[2015-07-03 13:29] clochix opened #457 "Improve Main Menu"
We should improve the notification menu. Some ideas :
 - use user avatar instead of bell icon (useful on shared computer, see [this thread](https://forum.cozy.io/t/feedback-suis-je-bien-sur-mon-cozy/867/2) );
 - maybe add a contextual link to the widget allowing to send feedback (see #375 );
 - maybe add a link to report a missing or bad translation ;
 - add suggestions here…

[2015-07-03 16:59] f6fvy commented on #454
Very good point. Make it optional is probably the way to go.

[2015-07-05 06:19] clochix commented on #439
@poupotte another user is reporting the same problem [in forum](https://forum.cozy.io/t/bug-etats-mobiles-et-tablettes-revoquer-lappareil-ne-semble-pas-fonctionner/874). Could you have a look ?

[2015-07-06 10:11] aenario opened #459 "Iframe rendered with display: none cause problem with some apps."
Notes & Todos fail to render properly when they are first opened.

Following https://github.com/cozy/cozy-home/commit/80460853 , apps are first rendered with the frames container having display: none style. This cause problem (maybe because of jquery-layout).

A quickfix (basically a revert of https://github.com/cozy/cozy-home/commit/80460853) is in the https://github.com/cozy/cozy-home/tree/fix-n

[2015-07-06 12:52] aenario commented on #439
My fault, it is merged into development, but not master & published :-/

[2015-07-06 19:26] silvyn commented on #392
Hi @clochix, yes it's ok since reinstall. So I close and comment :)

[2015-07-06 19:26] #392 closed

[2015-07-07 08:34] jsilvestre opened #460 "Display bug for applications installed from another market"
When a user uses another market (e.g. ISEN users),
* during permission acceptance process, the shown permissions are the ones of the Github repo, but it is installed with the right permissions (the ones from the Gitlab repo).

* then in the "manage" screen, the repo adress is the Github one, rather than the Gitlab one.

[2015-07-07 12:01] PetiPandaRou opened #461 "Open an Apps in a new Tab"
For now, open an App in a new Tab is only possible by clicking with Ctrl pressed.
Normally, it should be possible to do it by center click or right click.
Center click is not working.
Right click doesn't show App links as links but as images. So it proposes to Save or View the image, but not open the link in a new tab.

[2015-07-07 20:40] frankrousseau commented on #461
Hello @PetiPandaRou,

  Thank you for your submission. It should work the way you describe. Can you tell us more about your setup (Browser and OS) ?

[2015-07-08 08:29] PetiPandaRou commented on #461
I checked it on :
- Firefox 24.1.1 ESR on my professional desktop Windows 7 Enterprise.
- Firefox 39.0 on my mobile phone Android 5.1.1
- Firefox 38.0 on my personal laptop Ubuntu 15.04

[2015-07-08 08:50] clochix commented on #461
Hello @PetiPandaRou,

On my instance, middle-click and Ctrl-right click are working as expected : opening app in a new tab.

Looking at the HTML source of the page, I see that platform applications are embedded in a `A` that is missing on other applications. Adding this tag may fix your right click issue (linking to `/apps/application-slug/` )

[2015-07-08 10:23] clochix opened #464 "Clicking on github icon in CozyMarket starts application installation"
If I want to open the Github repository of the application, I also get the installation popup.

[2015-07-10 07:57] poupotte opened #465 "See current permissions of applications"
It should be nice to can see current permissions for all installed applications.
Currently, we can see permissions only duriing install and update.

[2015-07-10 08:00] poupotte opened #466 "Separate read and write access for application permissions"

[2015-07-10 18:40] goofy-bz opened #467 "make update process interface more consistent"
![updateavailable](https://cloud.githubusercontent.com/assets/858630/8626219/ccde34d8-2743-11e5-94de-55827f741201.png)

![shoul not ask 4 update here](https://cloud.githubusercontent.com/assets/858630/8626230/e57d005a-2743-11e5-8712-59b6f5f91742.png)

[2015-07-11 11:58] frankrousseau commented on #467
You're right. The current flow is not good.

[2015-07-11 14:07] Peltoche opened #468 "Retrieve password don't work"
Salut !

J'ai tester la fonction de recuperation de mot de passe du home suite a une demande sur IRC et je n'ai jamais recus le mail.

Home: V 2.0.3

Je vais chercher un peu de log

[2015-07-13 15:25] clochix commented on #468
Bonjour Peltoche,

Est-ce que tu pourrais regarder dans les logs de Postfix : demander à réinitialiser le mot de passe, puis regarder les dernières lignes de `/var/log/mail.log`, pour voir si le message est confié à Postfix, ou échoue avant ? Merci !

[2015-07-13 22:28] kao98 commented on #455
On cozycloud.cc, I wasn't able to login with JS disabled.
I tried, I had a login error message while I typed the correct password.
Is this a known issue? Should I open a new one?

[2015-07-14 05:08] clochix commented on #455
Hi @kao98,

for now, you have to enable Javascript to use your Cozy instance. We depend on client side JS and have no short term plan to do server side rendering and allow to access Cozy with JS disabled.
If you use security addons like NoScript, you should whitelist the domain of your instance.

What's your usecase for accessing your instance with JS disabled ?

[2015-07-14 09:20] Peltoche commented on #468
Voici les logs qui semblent correspondre:

[code]

[2015-07-14 11:18] clochix commented on #468
:-S J'ai l'impression que le message de récupération du mot de passe est bien créé, mais n'arrive pas à être envoyé depuis ton serveur vers ton adresse gérée par OVH.

Tu peux essayer de regarder la file d'attente des messages : `postqueue -p | grep -o "^[A-Z0-9]*" | xargs postcat -q | more`

Si tu y vois bien les messages de relance, cela confirmera que le souci est bien au niveau de la communica

[2015-07-14 11:26] Peltoche commented on #468
yep, c'est bien le cas, j'ai les messages.

[2015-07-14 12:07] kao98 commented on #455
I use NoScript.
Maybe it just miss a message to inform javascript is required?

[2015-07-14 12:18] clochix commented on #455
Yes, displaying such a message is the goal of this issue ;-)

[2015-07-14 12:23] clochix commented on #468
Manifestement c'est donc un souci d'envoi des messages entre ton serveur et OVH. Ton serveur est installé sur un Kimsufi ? Tu sais s'il arrive à envoyer des messages ? @nledez ast-tu une idée ?

[2015-07-14 12:35] Peltoche commented on #468
Je suis sur un ubuntu 14.04
@clochix je confirme j'ai bien recus ton mail et j'ai réussit a envoyer un mail depuis mon cozy donc ca a l'air d’être propre a l'app.

[2015-07-14 13:09] nledez commented on #468
Il y a une fonction antispam chez OVH qui bloque l'IP au bout d'un moment. Il faudrait aller voir dans l'interface OVH si l'IP n'est pas bloqué.

[2015-07-15 07:28] ZeHiro opened #469 "Error when stopping and restarting an app from "Etats""
Maybe it is a controller problem.

Hello, I have regularly this can of error in the controller log (self hosted instance) :
[code]

[2015-07-15 07:33] clochix commented on #469
Thanks for reporting, could you detail the steps to reproduce this error ?

[2015-07-15 08:37] ZeHiro commented on #469
Is definitely a controller problem. I close and reopen in the right repo.

[2015-07-15 10:34] clochix opened #470 "Sort order of applications in Store"
After an update, Mail was broken, so I uninstalled it and went to the Store to re-install it… Email app was at the end of the list, instead of sorted by alphabetic order, and Mstsc.js app was displayed twice. I reloaded the page and Mail is now the first app in the list :-S

[2015-07-15 10:38] clochix commented on #470
After installing Mail, Mstsc is now displayed three time :-D
![store](https://cloud.githubusercontent.com/assets/384908/8696649/679838b8-2aee-11e5-9e56-263cf048f43b.png)

[2015-07-16 07:10] clochix opened #471 "Add widgets on home screen"
This is a feature some users often ask for, for example [here](https://forum.cozy.io/t/feedback-nouveau-bureau-cozy/607/16).

We should find a way to add interactive widgets on home screen, displaying information exposed by the apps : the number of unread messages, the weather, some music controls…

[2015-07-16 07:13] clochix opened #472 "Allow to select background from File or Photo application"
Some users [would like](https://forum.cozy.io/t/feedback-nouveau-bureau-cozy/607/16) to be able to select image from Files or Photo application as new background.

[2015-07-17 06:15] clochix opened #474 "Add automatic log out on inactivity"
We should add a setting allowing user to choose if they want to be logged out after some time of inactivity. Think of a list of choices, after [5, 10, 15] minutes of inactivity, or never. On logout, we should redirect the browser to login page.
Cf [this thread](https://forum.cozy.io/t/automatic-log-out-function-possibility/992/1).

[2015-07-18 21:23] ZeHiro commented on #469
Ok I think I get it.
And it is a home problem :)
Action to reproduce :
- From "Etats" in home, stop an application
- When the application is stopped, "Start the application" is proposed to the user. Clicke start. The client sends request "POST /drones/APP/stop" instead of start. The app finally restarts automatically.

[2015-07-20 00:24] ZeHiro commented on #405
No more problem with this one

[2015-07-20 00:24] #405 closed

[2015-07-20 13:50] clochix opened #476 "Add a long description of each application in store"
Some users found the current description too short. Maybe could we allow to display a longer description. Or add a link to the README file on Github, and add a user oriented section in the description of each of our applications.

[2015-07-20 14:26] clochix opened #477 "Display a message after application installation"
When we install a new application, nothing happens at the end of the installation. We should display a congratulation message, with a link to open the application.

[2015-07-21 15:14] clochix opened #479 "Allow to add any web page to the Home screen"
See [this thread](https://forum.cozy.io/t/idees-pour-de-nouvelles-applicatons/1024/2). Like in Firefox OS, it would be nice to be able to add random web page as icons on Home. Nothing should distinguish a Web page and a Web App.

[2015-07-23 06:59] clochix opened #480 "Update all apps and permissions changes"
There's a problem when user ask to update all applications, and the permissions of one app have changed: the application is updated without asking the user for the new permission, but when it try to access the DataSystem, the access to the new doctype is refused.

IMHO, if permissions of an app are updated, we should not update it automatically, only notify the usr that an update is available and

[2015-07-23 07:26] clochix commented on #480
Also, as mentioned by @nledez, what shall we do on managed instances if we want to force update of an application (for example to patch a security vulnerability) and the new version require new permissions ?

[2015-07-27 08:21] clochix commented on #439
Thanks @aenario (and @poupotte), users are reporting that it works now :-)

[2015-07-27 08:21] #439 closed

[2015-07-27 12:26] clochix opened #483 "Update stack should also update cozy-monitor"
It seems that the only way to update cozy-monitor is to manually perform an `npm update`.

[2015-07-29 14:32] clochix opened #484 "Help messages should have the reply-to header set"
To ease replying to messages sent from contact form.

[2015-07-29 15:16] clochix commented on #444
I can confirm that it works on production, closing this, thanks a lot awesome @poupotte

[2015-07-29 15:16] #444 closed

[2015-07-29 15:18] clochix commented on #468
Bonjour @Peltoche,
A priori, il s'agissait plus d'un problème réseau que spécifique à Cozy. Est-ce que tu pourrais ré-essayer de réinitialiser ton mot de passe, et, en cas d'échec, nous refournir les logs de Postfix ? Merci !

[2015-07-29 15:37] clochix commented on #339
I will close this one, @ajeantet don't hesitate to re-open it if you encounter again this problem. Thanks a lot for the fix @poupotte !

[2015-07-29 15:37] #339 closed

[2015-07-30 10:23] clochix commented on #251
ping @bnjbvr and @m4dz

[2015-07-30 10:28] m4dz commented on #251
Sadly, it's still relevant, but not related to home in fact: scrolling in a iframe isn't trivial if the app implement anything other than an `overflow-y: scroll` rule. So, this issue is finally not related to Home (which only display its iframe) but to the incirmined apps that tries to overrides the native scroll.

[2015-07-30 10:29] bnjbvr commented on #251
Roger that last @m4dz comment: scrolling on tasky works, not on kresus. I'll open an issue on Kresus and will discuss it there.

[2015-07-30 13:59] clochix opened #485 "Error trying to delete notifications"
Reported [in the forum](https://forum.cozy.io/t/cannot-delete-the-notifications/1076).
Fixed by f7b08259

[2015-07-31 09:52] clochix opened #486 "Make the help form more discoverable"
See cozy/cozy-mobile#59 : some users don't understand how the contact form works :-S

[2015-08-01 13:10] frankrousseau commented on #251
Thank you all for your participation. I think we can close this one. If someone thinks I'm wrong, feel free to reopen it.

[2015-08-01 13:10] #251 closed

[2015-08-03 13:34] clochix opened #487 "Serialize application management operations"
This is mostly an edge case: sometime, users are inpatients and try to perform many tasks at the same time, like installing apps and updating stack. This could lead to strange behavior. I wonder if we should serialize the operations, only starting one when the previous is ended. Just asking. @poupotte ?

[2015-08-03 20:21] Thatoo commented on #471
Like it use to be... but with this new interface, I can't think how it could look like.

[2015-08-03 20:23] Thatoo opened #488 "Background picture of login page"
Would it be possible to have the background chosen for our cozy as our background on our login page also? (maybe as an option because that background is accessible by everybody so if it's a private picture, people might not want to display it publicly.

[2015-08-03 20:25] Thatoo commented on #457
the name of the app we are using could be a menu to switch faster between apps, without having to go back to the home page.

[2015-08-04 08:00] clochix commented on #488
Hello @Thatoo,
This is an often requested feature, see for example #454.
Also related #472 and #399

[2015-08-04 13:41] dkm opened #489 "Newly installed app not visible in "status" page"
Step to reproduce :
 - open status app
 - back to home
 - install cozic
 - when install finished, open status app again

Cozic is not in the list. After a refresh, app is visible.
Does not happen for all apps (tested with konnector)

[2015-08-05 09:03] clochix commented on #489
Hi @dkm and thanks for the report.

Did you see any error in the logs when installing Cozic ?

[2015-08-05 09:07] dkm commented on #489
No, I did not see any error when installing app. Cozic was starting
correctly. I did not really try it as my first tries were failures
(tried to use youtube downloader). I did not understand where to click,
what to do, so I ended up my experiment after few clicks, sorry.

[2015-08-05 09:14] clochix commented on #489
Ok, thanks. I just did the same steps as you did, and everything worked fine, the State page was refreshed.
Anyway, I keep this open and we'll try to reproduce the problem.
For the record, the author of Cozic has no more time to maintain it, and we're looking for [a new maintainer](https://forum.cozy.io/t/call-for-contributors-we-are-looking-for-the-new-maintainer-of-the-cozic-application/536). We

[2015-08-05 09:18] dkm commented on #489
This is 100% OT, but maybe having a "staging" area for not-so-ready app
would be a good thing.
Some app are very (too) basic (photo) but at least work correctly.
Trying cozic was really like trying something in early stage of dev and
is a bit disappointing.

[2015-08-05 09:25] clochix opened #490 "Create an “experimental apps” zone in the store"
Some applications in the store are not ready for production, buggy and not really maintained. Users who try to use them may have a bad experiment, and be disappointed by the whole Cozy platform. So I suggest that we find a better way to distinguish this application, like a staging zone.

[2015-08-05 09:26] clochix commented on #489
Yes, I agree, for now we only mention if the application is maintained by Cozy or third party developer, we should also add a warning on applications not really ready for production. I just opened #490, don't hesitate to comment on this ticket. And once again, thanks for the suggestion :-)

[2015-08-05 10:50] nicodel opened #492 "Add a notification when a new application is available in the Store"
It would be great if users could be notify when a new application is available inside the Store.
This notification will only have to happen once, allowing users to be kept informed about new applications available for their Cozy Instance.

[2015-08-05 13:28] clochix commented on #492
I like this idea, but we could maybe make something more generic. What about suggesting users to subscribe to an ATOM feed so we (Cozy) can push them notifications about new apps, or security alerts… What do you think ?

[2015-08-05 15:07] nicodel commented on #492
Yes, I like that idea.

[2015-08-05 16:30] frankrousseau opened #494 "Better experience with app uninstallation"
When an app is uninstalled, the user should be properly notified:

* The app iframe (if it exists) should be closed.
* An uninstall indicator should be displayed on the app icon on the desktop.
* The above icon should not be clickable anymore.

Reported by @Benibur

[2015-08-06 13:34] clochix opened #495 "Allow to install an application from its manifest"
We should allow to install client-only web app by discovering their [manifest](https://w3c.github.io/manifest/).

[2015-08-10 12:26] clochix commented on #304
Hi @Peltoche,
The unit of the free disk space has hust been added, so I think this ticket is over ☺ Thanks everybody !

[2015-08-10 12:26] #304 closed

[2015-08-10 12:45] #406 closed

[2015-08-10 12:46] clochix commented on #426
\o/ It works, thanks everybody !

[2015-08-10 12:46] #426 closed

[2015-08-10 12:46] #464 closed

[2015-08-10 14:27] clochix commented on #468
Hello @Peltoche,

Du neuf ? Est-ce que ton serveur arrive à envoyer des courriels ?

[2015-08-10 14:36] Peltoche commented on #468
nop, toujour pas...
ca timeout encore.
Home: V2.0.7

log /var/log/mail.log:
[code]

sudo postqueue -p | grep -o "^[A-Z0-9]*" | xargs postcat -q | more:
[code]

[2015-08-11 08:41] poupotte commented on #470
I don't arrive to reproduce your issue. When I uninstall an application, it's well sorted :/ . Can you try to reproduce with new home version ?

[2015-08-11 08:59] #485 closed

[2015-08-11 09:04] clochix opened #500 "Redirect after login is broken"
I was reading a file but got disconnected, so I hit the Login page with the URL https://xxx.cozycloud.cc/login?next=/apps/files/files/… but after login I didn't get redirected.

[2015-08-11 09:11] ZeHiro opened #501 "Set "Content-Type" of application logs to text instead of application/octet-stream"
So that they can be automatically open with a text editor. Maybe for windows users, the extension "log" could be added.

[2015-08-11 09:34] clochix commented on #470
You're right, this seems to be fixed now.
The last remaining problem is that apps are sorted by slug, so Weather, aka owm, is before quickmarks.
But I think we can close this one. Thanks for checking !

[2015-08-11 09:34] #470 closed

[2015-08-11 10:27] clochix commented on #501
Thanks for reporting @ZeHiro, we should add content-type and content-encoding headers to the logs pages.
What do you mean by “extension log”  ?

[2015-08-11 10:30] ZeHiro commented on #501
I mean emails.log / kresus.log ... I am not sure windows uses mime types to allocate a file type to a program to open it. I thought it used extensions.

[2015-08-11 10:55] clochix commented on #501
oh, I understand. We may rename the urls of this pages to add `.log` at the end.

[2015-08-11 11:08] clochix commented on #342
@frankrousseau do you now if it has been fixed in the new onboarding ?

[2015-08-12 11:00] nicofrand opened #502 "Waiting icon glitch on Firefox Android"
On a mobile device using Firefox for Android, when clicking on an action which takes some time in the status page, the icon overlaps the other actions :

![screenshot_2015-08-11-00-06-35](https://cloud.githubusercontent.com/assets/3419050/9222418/f05a3570-40f1-11e5-9c99-230d06ebde0e.png)

[2015-08-12 13:03] clochix commented on #502
Thanks for reporting @nicofrand,
@kelukelu would you mind having a look at this please ?

[2015-08-12 13:45] poupotte opened #503 "Improve applications broken management"
For some applications marked broken, user can only reinstall it whereas a restart would be enough.

I see two solutions :
* Find use cases where application is currently marked broken whereas application can only be restarted. Thus, we can seperate cases where application should be reinstall and cases where application should be restarted.
* When an application is broken, propose to user (instead

[2015-08-13 08:51] poupotte commented on #489
Hello @dkm,

I don't arrive to reproduce your issue. Can you give me your home version ? (You can see it in status app).

[2015-08-13 08:55] dkm commented on #489
2.0.7 :)

On 13-08-2015 10:51, poupotte wrote:

[2015-08-13 09:26] poupotte commented on #490
@clochix , What do you think about an icon like 'beta' on experimental applications ?

![beta_market](https://cloud.githubusercontent.com/assets/2659119/9246772/0d216950-41ae-11e5-8894-a189accfc5cb.png)

[2015-08-13 09:31] clochix commented on #490
♥

[2015-08-13 09:38] clochix commented on #500
Fixed in cozy/cozy-proxy#160 thank you @poupotte

[2015-08-13 12:28] poupotte commented on #196
Installation is now well blocked if cozy hasn't enough memory. For me, we can close this issue. @frankrousseau , what do you think ?

[2015-08-13 12:34] poupotte commented on #246
@jsilvestre, @goofy-bz Is it still relevant with the new home design ?

[2015-08-13 12:39] poupotte commented on #281
This issue should be fixed. @frankrousseau , can we close it ?

[2015-08-13 12:52] poupotte commented on #472
Related to https://github.com/cozy/cozy-home/issues/399

[2015-08-13 15:49] poupotte commented on #460
I didn't arrive to reproduce this issue :(.
WIth my local home (2.0.7), permissions and repo address are correct.

@jsilvestre , when you'll have enough time, can you test again and tell me if this problem is still relevant ? (You can use calendar application from ISEN market)

[2015-08-14 07:15] poupotte commented on #334
It's issue was fiwed with #481.

[2015-08-14 09:20] poupotte commented on #487
Yes, it's already the case for user application. However the stack isn't in this serialization. We should add it.

[2015-08-17 07:12] jsilvestre commented on #246
It could still be improved, I believe. The behaviour is pretty much the same, even if it doesn't feel buggy like it used too.

[2015-08-17 17:47] #334 closed

[2015-08-17 17:48] frankrousseau commented on #281
This one is fixed but the navigation problem is still present. Let's close that one. We'll reopen it when users will complain about history navigation.

[2015-08-17 17:48] #281 closed

[2015-08-17 17:48] #196 closed

[2015-08-17 17:48] frankrousseau commented on #196
Thank you @poupotte

[2015-08-17 17:50] frankrousseau commented on #342
I didn't try. That's a work for @poupotte or @jsilvestre.

[2015-08-18 08:57] jsilvestre commented on #460
Sorry, didn't see your message. We've talked about it directly. I'm going to check it!

[2015-08-18 09:08] jsilvestre commented on #483
The update worked, thank you.

[2015-08-18 09:10] #500 closed

[2015-08-18 09:15] jsilvestre commented on #460
You are right, it's working, whether it's been fixed or I got a weird case at the time..

[2015-08-18 09:15] #460 closed

[2015-08-20 07:26] nicofrand commented on #441
I think it is a duplicate : https://github.com/cozy/cozy-home/issues/206 ?
That would be a really nice feature to have !

[2015-08-20 07:36] nicofrand opened #507 "Weird times in notifications"
My cozy seems to be living in a near future: it says a new version of whatever is available in a few seconds, instead of a few seconds ago…

![bug-cozy](https://cloud.githubusercontent.com/assets/3419050/9378042/8dab6a2e-471e-11e5-8fc8-a20cc43ec189.png)

Context :
1. There was a new platform update
2. I updated cozy (just "update" and not "update everything"
3. There was a new notification saying

[2015-08-20 07:36] frankrousseau commented on #441
It's defintely a duplicate!

[2015-08-20 07:37] frankrousseau commented on #507
Thank you for reporting @nicofrand.

[2015-08-27 14:08] nicofrand opened #513 "Improvements to Kresus icon"
I find there are some things that could be improved in kresus' logo. For example I thought the coin was actually a handle…

I gave it a try and :

- improved some angles
- added a symbol dollar to make the coin look more like a coin :)

![kresus-dollar](https://cloud.githubusercontent.com/assets/3419050/9522438/21b50f66-4cd5-11e5-9762-2b1cadbc1873.png)

For those who don't like the dollar symbol (

[2015-08-28 10:33] nicofrand commented on #513
@bnjbvr, what do you think ?

[2015-08-28 10:46] bnjbvr commented on #513
I like the one with the dollar, thanks for doing this. Is the logo taken from the repo? Or did you make it from scratch?

[2015-08-28 10:56] nicofrand commented on #513
I took it from here and modified it to separate the ping & coin layers. I redrew the coin from scratch to have a perfect round though.

But once all layers join, that should give the same result (by the way, I kept an outer ring with opacity 0, but I am not sure it is needed ?).

[2015-08-31 12:44] clochix commented on #513
Thanks for your contribution @nicofrand. @bnjbvr, if you're ok with it, could you ping @kelukelu to review and merge this new icon ? Thanks !

[2015-08-31 13:48] bnjbvr commented on #513
Yep, looks good to me. @kelukelu, feel free to go ahead whenever you're ready :)

How come icons are not provided by the apps themselves? As well as the description (or the translation key), the app's name, etc.

[2015-08-31 14:14] kelukelu commented on #513
Thanks @nicofrand !
Can you convert the dollar symbol to outlines with Sketch? :)

[2015-08-31 14:29] nicofrand commented on #513
Not sure what you meant, but I transformed the dollar sign from font to a path : https://cozy.nicofrand.eu/public/files/files/e589541f64243439cb2ee2d782598c84/attach/kresus-dollar.svg

[2015-08-31 16:45] nicofrand opened #515 "Filter by language in cozy store"
Several of the applications on the cozy store are available only in English.
I think it would be a nice feature for the cozy store to be able to filter the applications available in the user's language.

[2015-09-01 08:15] clochix commented on #515
A first step would probably be to add the available locales to the application manifest.
Unfortunately, there doesn't seem to be a common spec for how to do this. Mozilla defined a syntax in [the manifest of its Web apps](https://developer.mozilla.org/en-US/Apps/Build/Manifest), but neither npm's [package.json](https://docs.npmjs.com/files/package.json) nor W3C's [Manifest for a web application](h

[2015-09-01 10:10] Peltoche opened #516 "Wrong used disk size"
Salut, depuis une versions ou deux le compteur d'espace s'est remis a deconner.

Il m'affiche 348G/3.9G

Sachant deja que c'est plutot 3.9T, cela avait ete reglé dans une version precedente et pour la taille du cozy j'ai pas d'explication... mon cozy.couch fait 1.8G le _users.couch fait 568K et le replicator 8K.

Voili voilou! Bonne chance :smile:

[2015-09-01 12:51] clochix commented on #516
Probablement une régression suite à #304.

*Analyse* : il y a plusieurs problèmes :
 - on essaie dans un premier temps de faire appel au contrôleur, qui sait trouver l'emplacement de la base Couch. Malheureusement l'appel https://github.com/cozy/cozy-home/blob/master/server/lib/memory.coffee#L88 échoue tout le temps, car il appelle l'url `/drones/diskinfo` alors que la bonne url est `/diskinfo` ;

[2015-09-01 13:08] clochix opened #517 "Allow automatic update of applications"
As suggested [in the forum](https://forum.cozy.io/t/etats-activer-une-mode-mise-a-jour-automatique/1234/1).

[2015-09-01 15:55] frankrousseau commented on #516
Pareil ici, depuis quelques temps cela m'indique n'importe quoi.

[2015-09-01 15:56] frankrousseau commented on #516
C'est surtout le premier point qui semble à régler.

[2015-09-03 15:11] clochix opened #518 "Name in registry is not used when installing applications"
When installing an application, on the client side, we get its name from the URL of its repository. On the server side we use this name as slug instead of the slug declared into the registery. If name and slug are different, the application will stay into marketplace even after installation.

For example, for Haste application, the registry define name and slug to `hastebin` but the name extracted

[2015-09-03 15:41] clochix opened #519 "[client] Exception “Permission denied to access property "hash"”"
Seen in the logs on a user instance:

[code]

This probably happens when trying to access location.hash in displayApplication method of HomeView in main.js.

[2015-09-04 09:58] clochix opened #520 "Increase installation / update timeout"
Some applications take a long time to install / update (Kresus), and Home mark them as broken, so the user need to try to reinstall the application several times. This is not a nice user experience, so increasing the timeout seems to be a good idea. (PS: requested by @Benibur ;-) )

[2015-09-04 15:30] #513 closed

[2015-09-04 18:47] clochix opened #521 "Improve behavior when data system is down"
When the DS is down, users are redirected to the register page, and may think they have lost their data. Furthermore, validating this page does nothing.
We should at least check if the DS is down, try to restart it, and display a more explicit error page to the user.

[2015-09-09 06:10] drschwabe opened #522 "Auto login link"
is it possible to create an auto-login link?  (to the Cozy dashboard)
Ex: www.mydomain/mycozy?user=me?passwd=mypass

I have an existing dashboard and would like to link directly from that to specific application (ie- calendar) avoiding the need for login.

[2015-09-10 10:02] clochix opened #523 "Unable to login when using a password manager"
Reported by a Chrome user : on login page, when the browser or a third party software fills the password field, the application doesn't detect it and the login button stay disabled.
I don't know if the best solution is to always enable the login button, or to periodically check if the field is not empty.

[2015-09-10 10:13] clochix commented on #206
A user also requested to display the version number of the update.

[2015-09-14 09:14] frankrousseau commented on #523
I think we should always enable it.

[2015-09-14 15:23] clochix commented on #523
This is in fact a problem inside the proxy. There where some code to handle this case (wait 300ms before disabling the button if the password is empty), I removed it as it seems to be broken.

[2015-09-17 09:26] clochix opened #525 "Create an icon for the new Shout IRC client"
@kelukelu could you brainstorm to create a nice pink icon for @Kloadut ?

[2015-09-21 11:36] poupotte opened #527 "Can't install an application with a "." in his branch"
Home refuses branch with '.' in store page. I receive `Git url should be of form https://.../my-repo.git`

[2015-10-06 07:29] poupotte commented on #527
This issues was fixed with #528

[2015-10-06 07:29] #527 closed

[2015-10-07 10:04] Benibur opened #531 "back home doesn't work in some cases"
I opened the mail application : "we need to index you mails, this screen will update soon" or something like that.
There was a spinner but I decided to go bak to home with the top left buton "back home" , and it worked.

But few seconds after, without I did anthing, the mail app went back on the foreground.

1/ that was a bit invasive, it is not because the mail app has finished its work that it c

[2015-10-12 08:41] poupotte commented on #353
I can't reproduce this issue. @frankrousseau , can we close this issue if it concerns  only a special version ?

[2015-10-12 13:28] clochix opened #534 "Install screen is not responsive"
Users of small screens are unable to install some applications because the popup window is too hight:
![fc389c65783e74e74ec3da8e0a0dfa80 jpg](https://cloud.githubusercontent.com/assets/384908/10429044/de485662-70f5-11e5-9651-c3b967562a0c.png)

[2015-10-12 14:29] poupotte commented on #521
Now, proxy displays an error when data-system is down instead of display register page.

[2015-10-12 15:21] poupotte commented on #516
Le chemin utilisé par la home et les unités renvoyé par le controller ont été modifié. Ce problème ne devrait plus être présent. Qu'en est-il pour vous @frankrousseau , @Peltoche ?

[2015-10-12 15:27] poupotte commented on #489
@dkm , is it still relevant ?

[2015-10-12 15:28] poupotte commented on #483
This issue was fixed with cozy/cozy-controller#75

[2015-10-12 15:28] #483 closed

[2015-10-13 07:08] dkm commented on #489
I guess not...

[2015-10-13 07:08] #489 closed

[2015-10-13 07:30] poupotte commented on #342
This issue seems fixed for me.

[2015-10-13 07:36] Peltoche commented on #516
Je ne suis plus auto-hébergé donc je ne peux plus te dire, en tout cas sur les instances cela a l'ai bon

[2015-10-13 08:07] clochix opened #536 "Use application display name in notifications"
Some application have a display name different from their internal name (owm / Weather). We should use the display name in notifications. See [this user request](https://forum.cozy.io/t/comment-marche-lesnotification-dupdate/1409)

[2015-10-13 08:11] nono commented on #516
Chez moi, en auto-hébergé, c'est bon aussi.

Par contre, juste un petit détail : on utilise un coup `df -H` et l'autre `df -h` (https://github.com/cozy/cozy-controller/blob/master/server/controllers/disk.coffee#L118 vs https://github.com/cozy/cozy-home/blob/master/server/lib/memory.coffee#L90). Le premier utilise 1000 et le second 1024 par changement d'unités. Pour des espaces en Go ou plus, ça fa

[2015-10-13 10:02] clochix commented on #519
I'm unable to reproduce this one, so I just added a `try - catch` so this exception won't prevent application to open.

[2015-10-13 15:08] clochix commented on #259
I think this has been fixed for a while. @Beast141, @frankrousseau could we close this one ?

[2015-10-13 15:08] clochix commented on #308
I think this has been fixed for a while. @goofy-bz could we close this one ?

[2015-10-13 15:50] clochix commented on #322
@obigroup le problème de compatibilité avec Node 0.12 pourrait être corrigé par 600d77c. Une fois qu'il aura été publié, tu pourras re-tester (si tu es toujours là dessus ;-) )

[2015-10-13 16:57] goofy-bz commented on #308
i think yes :) Will report if any zombie prob of the kind

[2015-10-14 08:37] clochix commented on #308
Thanks prof !

[2015-10-14 08:37] #308 closed

[2015-10-14 11:39] clochix commented on #342
Thanks @poupotte for checking, let's close this one ☺

[2015-10-14 11:39] #342 closed

[2015-10-14 11:41] clochix commented on #379
@lemelon could you take care of this one : add Polyglot on server side to translate the messages sent by the server ? Thanks !

[2015-10-14 11:52] clochix commented on #468
Hello @Peltoche,
Je pense que ce problème était spécifique à ton serveur, je n'ai aucun autre retour dans ce sens. Est-ce que nous pouvons fermer ce ticket ?

[2015-10-15 08:25] Peltoche commented on #468
ouai pas de problemes, surtout que je suis sur les vm de Cozy maintenant.

[2015-10-15 08:25] #468 closed

[2015-10-15 10:14] frankrousseau commented on #353
Let's close it then. It's probably due to an edge case of `import-google` app.

[2015-10-15 10:14] #353 closed

[2015-10-16 09:43] viki53 commented on #500
Hi!

I don't know if it's related, but when I log in to my local test Web client I get redirected to a 404 address every time.

So instead of being redirected to `https://127.0.0.1:2223/#home` I end up on `https://127.0.0.1:2223/%23home#home` for example. Same with every URL I can be before I'm logged out (which happened a lot yesterday as I had to update several times.

[2015-10-21 11:50] clochix opened #547 "Server crash when trying to install from unknown URL"
A user is trying to install an app from its own Gitlab instance, and this makes the server crash. We should at least not crash and display an error message.
See https://github.com/cozy/cozy-home/blob/master/server/lib/manifest.coffee#L12

[2015-10-22 14:57] clochix commented on #500
Hi @viki53,
Thanks for reporting, I think I [just fixed the redirection problem](https://github.com/cozy/cozy-proxy/issues/195). The fix should be available in a few days.

[2015-10-23 07:53] aenario opened #551 "In some cases, app refreshing themselves will put them at the forefront."
Previous fix : https://github.com/cozy/cozy-home/commits/3d85/client/app/views/main.coffee

In some cases (not sure when, do you remember @frankrousseau ?). We cant use .once to prevent further loading from putting the application at the forefront. We should either
1 - figure out when it happens and fix it so we always have a proper jQuery object with .once there.
2 - revert to .on but use undersc

[2015-10-23 08:20] nicofrand opened #552 "UI issue with 100+ notifications"
First a screenshot from the demo:

![cozy-home-notif](https://cloud.githubusercontent.com/assets/3419050/10687711/69020880-796f-11e5-82a5-97673285837d.png)

When there are more than 99 notifications (2 digits), a new way should be found to display the number.
(Maybe ∞ ?)

Inside the menu, maybe the notifications should be grouped. If there are x notifications from Kresus, maybe the menu should dis

[2015-10-23 10:36] babolivier opened #553 "Allow installation of applications from external git servers"
As we can see [here](https://github.com/cozy/cozy-home/blob/master/server/lib/manifest.coffee#L12), the Home only accepts applications from GitHub and Cozy's GitLab. I think it would be interesting to be able to install an application from any git server, and not only these two.

[2015-10-23 11:03] frankrousseau commented on #551
Once does not exist in some cases, but I don't remember when.

[2015-10-27 16:35] aenario commented on #519
This could happens only if the content of the iframe was not a page from the the same cozy. It could indicate a XSS/fishing attempt, or more probably a broken link in konnectors app. Anyway, it would be safer to redirect the iframe to app's root if we get in this case. Better to keep the issue open.

[2015-10-27 16:42] aenario commented on #531
This is a duplicate of https://github.com/cozy/cozy-home/issues/551

Thanks for reporting :-)

[2015-10-27 16:42] #531 closed

[2015-10-28 10:23] clochix opened #554 "Exception when sending server logs"
[code]

[2015-10-29 22:07] frankrousseau commented on #552
Thank you @nicofrand for reporting. We'll think about a proper solution.

[2015-10-30 11:35] clochix commented on #469
Hi @ZeHiro,
This should have been fixed, could you update the controller and check if it now works as you expect?

[2015-10-30 11:37] clochix commented on #518
Thanks a lot @poupotte ☺

[2015-10-30 11:37] #518 closed

[2015-10-30 11:49] clochix commented on #536
Fix confirmed by @babolivier

[2015-10-30 11:49] #536 closed

[2015-10-30 13:47] clochix commented on #521
Thanks @poupotte, it works great now ☺

[2015-10-30 13:47] #521 closed

[2015-10-30 13:49] clochix commented on #523
Login button is always enabled now.

[2015-10-30 13:49] #523 closed

[2015-11-01 19:47] nledez opened #559 "'coffee commands.coffee getdomain' return '{domain:"error"}'"
The command:
[code]

Return an error:
[code]

[2015-11-02 14:39] clochix commented on #559
Seems like it doesn't work because application is not authenticated :-S

To get the domain, you could probably use:
[code]

[2015-11-02 16:55] nledez commented on #559
It's exactly what I do in https://github.com/cozy/cozy-debian/blob/master/cozy-get-instance-param.py

But "commands.coffee getdomain" doesn't work.

My suggestion is fix it or remove it :)

[2015-11-02 22:46] ZeHiro opened #560 "Apps "Divers" are sorted by slug and not by display name."
Exemple in the picture attached:
Count should be the first in the list.
![selection_560](https://cloud.githubusercontent.com/assets/7999082/10896689/cb4204ce-81bb-11e5-9bb5-0bb730409479.png)

Welle there is another display problem (empty slots), but I cannot identify the origin

[2015-11-03 11:00] ZeHiro opened #561 "Revocation of device led to full cozy crash"
Hi,

I tried to delete a device from "state" panels (the device was created from cozy-desktop).
Proxy log:
[code]
Home log:
[code]

[2015-11-04 08:25] poupotte commented on #547
It's fixed ! Thanks @clochix  :)

[2015-11-04 08:25] #547 closed

[2015-11-04 09:00] poupotte opened #562 "Change application branch during update"
If branch declared in cozy-registry has changed, home should change branch during update.

[2015-11-04 09:33] frankrousseau commented on #562
I'm not sure about that one. It's a good simplification to force every app to have a master branch.

[2015-11-04 09:42] bnjbvr commented on #562
It does seem appropriate. The stable branch / development branch of a given repository should be an implementation detail, transparent to the end-user. As a Cozy app developer, I'd like to change my development branch to `master` and have a `stable` branch (or maybe even use tags). Users shouldn't need to have to uninstall/reinstall the app just because of this hosting detail.

[2015-11-04 10:51] babolivier opened #564 "Display fails when there is no icon"
As you can see here:

![home](https://cloud.githubusercontent.com/assets/5547783/10936022/2e643e1c-82ea-11e5-972b-619d1a4bf7eb.png)

since the default icon showing when the app deosn't have one isn't the same height as the other icons, we have a disposition issue.

[2015-11-04 15:31] clochix commented on #564
Thanks for taking time to open an issue @babolivier !

[2015-11-04 15:33] clochix commented on #561
Thanks for reporting @ZeHiro.
Don't you have more logs ? The errors of the Home application are now logged into an home-err.log file if you updated the controller.

[2015-11-04 15:35] clochix commented on #560
Thanks for your report! The other display problem has also been reported as #564

[2015-11-04 15:37] ZeHiro commented on #561
Here is what I have:

[code]

[2015-11-04 16:35] ZeHiro commented on #561
Seems to be due to a d-s crash (after oom kill). I close

[2015-11-04 16:35] #561 closed

[2015-11-04 21:03] frankrousseau commented on #562
It looks like I changed my mind since may :). Thank you @poupotte for the link.

@bnjbvr I understand the benefit. But having a standard in naming the master branch make things simpler for new developers. It doesn't harm the current developers to stick with the master branch.

[2015-11-05 10:44] bnjbvr commented on #562
@frankrousseau I am not sure we are talking about the same thing here, and it's ok :-) So when I was talking about the "end user", I had in mind "the user of the app". Currently for Kresus, the development branch is `incoming` and the stable branch is `master`. I would like the development branch to be `master` and the stable branch to be `stable`, instead (so that I can benefit from greenkeeper.i

[2015-11-05 15:36] nicofrand opened #567 ""Mark as favorite" icon title not translated"
The lines https://github.com/cozy/cozy-home/blob/master/client/app/templates/config_application.jade#L6  and https://github.com/cozy/cozy-home/blob/master/client/app/templates/config_application.jade#L8 are not translated.

[2015-11-05 19:55] Nephos opened #568 "Password change: error not explicit"
Hello,

I had a problem when I wanted to change my password.
I was typing the wrong (old) password.
But the ui displayed that the confirmation password was wrong. And only the last field was surrounded by red.

It is not very obvious.

[2015-11-06 13:47] frankrousseau commented on #568
Ok @Nephos. Thank you for reporting!

[2015-11-06 15:45] clochix commented on #567
Thanks for reporting @nicofrand, we are working on it ☺

[2015-11-06 23:47] maxlath opened #571 "send a desktop notification once an app finished installed"
a typical app installation now:
- the user click on an app to install
- the app start installing, meanwhile the user goes back to her life in other tabs
- the app finish installing
- at some point, the user comes back to the applications dashboard where the app has now disappeared

UX suggestion:
- send a [notification](https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API) to inform

[2015-11-08 16:25] AntoineCa opened #572 "Typo in the french translation of "update all""
At line https://github.com/cozy/cozy-home/blob/master/build/client/app/locales/fr.js#L109 it's written "Mettre à jour la plateforme et les applciations" instead of "Mettre à jour la plateforme et les applications".

[2015-11-08 16:32] clochix commented on #572
Thank for noticing @AntoineCa ☺
We already fixed this, but the fix has not been published yet.

@frankrousseau when do you think we would be able to publish a new version of the Home? Lot of users are complaining about this typo.

[2015-11-08 16:32] #572 closed

[2015-11-08 18:28] goofy-bz opened #574 "[trivial] An unclear sentence in development/server/locales/en.json"
The string located on line 23 of this file:
https://github.com/cozy/cozy-home/blob/development/server/locales/en.json
is
"Ask for assistance since a cozy",
I am sorry I have no idea what this means, so it is not so easy to translate.
Any suggestion?

[2015-11-08 22:07] frankrousseau commented on #572
I think next week, a new version will be published.

[2015-11-09 09:06] clochix opened #575 "Encourage users to stop unused apps"
I often see user instances with low free memory because they installed all the apps they found inside the marketplace, started them, and forget them. For example, I often see the data-browser or import-from-google started, and I don't think users are really using this apps often.

So I think we should find ways to encourage users to stop applications they don't use. For example:
 - update colors o

[2015-11-09 15:55] clochix commented on #574
Hi @goofy-bz, thank you for your feedback.
This message is probably wrong.
It's in fact the subject of the message sent when user fill the form on help screen. I just added a comment on Transifex to help translators, but we should probably also fix the English message.

[2015-11-09 15:58] clochix commented on #571
Thanks for your feedback, I agree we should give the user more feedback.

[2015-11-10 12:52] nono commented on #525
@clochix is has been done, no?

[2015-11-10 15:44] frankrousseau commented on #525
Yep!

[2015-11-10 15:44] #525 closed

[2015-11-10 16:13] nitot opened #578 "Typo in Status: "applciations" -> "applications""
In the French version of the Status app, the button "Mettre à jour la plateforme et les applications" is misspelled : "applciations".

[2015-11-10 16:35] poupotte commented on #578
It will be fixed in the next release.

[2015-11-10 18:17] frankrousseau opened #579 "Cannot send logs to support"
When I try to send my logs to the Cozy support team, it freezes. It looks due to the fact that log files change while being sent.

[code]

[2015-11-10 19:52] frankrousseau opened #580 "Add korean language"
Cozy looks properly translated in Korean. That would be nice to allow this language in Cozy.

[2015-11-11 13:34] babolivier opened #581 "Can't see all the applications in "Status""
First, congrats for the new version of the Home. Looks so great.
I just noticed something that was bugging me: The "Status" page now only displays three applications. Which means that if I want to uninstall, update, view the logs, etc of an app that is not within theses three apps, I have to use `cozy-monitor` (which is not always very convenient).
As an example, please see the screenshot below:
!

[2015-11-11 15:29] frankrousseau commented on #581
Thank you @babolivier for reporting. Can you copy/paste the logs of your Home module?

[2015-11-11 15:31] babolivier commented on #581
Sure @frankrousseau, here's everything I have in /logs/home:
[code]

[2015-11-12 08:58] aenario opened #582 "Log page doesnt include error logs"
Following https://github.com/cozy/cozy-controller/pull/82 , there is now 2 log files for each application : 1 for stdout and 1 for stderr.

The `/logs/app` route only display the stdout log, making it harder to debug some issues.

[2015-11-12 09:27] nicofrand commented on #581
I have the same issue but I can see 6 apps.

[code]

[2015-11-12 10:30] m4dz opened #585 "Lazy load backgrounds thumbnails"
When opening the home dashboard, all backgrounds thumnails are loaded. We should lazy-load them to prevent bandwith extra-use (especially in mobile-use).

[2015-11-12 10:50] nicofrand opened #586 "Design issue when app title is too long"
**Steps to reproduce:**

0. Add a lot of apps to your favorites
0. Add "import-from-google" in particular as its name is long

**Whats happens:**

The "import-from-google" title is broken into 2 lines, which messes with the design:

![](https://forum.cozy.io/uploads/default/original/1X/9ab999285d8e31cd9492c89ffa32990d25d36401.png)

[2015-11-13 07:56] poupotte opened #590 "Problem to display market when all applications are installed"
![screenshot from 2015-11-13 08 55 39](https://cloud.githubusercontent.com/assets/2659119/11141324/6ada98ea-89e4-11e5-8200-49608ab1db2b.png)

[2015-11-13 08:35] clochix opened #591 "[Regression] Wrong disk and memory unit"
In #304, we added the unit of the used disk and memory (for example, some users have more than 1To of storage, and the available storage value is exprimed in To. Also, used and available values may have different unit).
In latest version of the home, the unit is hardcoded. We must fix this.

[2015-11-13 13:00] clochix commented on #586
Thanks for reporting @nicofrand
@kelukelu would you mind having a look at this one ?

[2015-11-13 13:02] clochix commented on #585
I strongly agree, loading Cozy takes way too much time when you have a slow connection.

[2015-11-13 13:05] kelukelu commented on #586
I'm on it

[2015-11-13 15:27] nicofrand opened #593 "Problème avec l'application Wheather"
Lorsque je clique sur l'icône de l'application "Wheather" depuis la home, aucun souci (après réinstallation tout de même).
L'URL à laquelle j'arrive: https://cozy.tld/#apps/pr-owm/

Cependant lorsque je tente d'y accéder depuis la page État, l'application ne s'affiche pas et une erreur s'affiche dans la console du navigateur (voir ci-dessous).

L'URL à laquelle j'arrive: https://cozy.tld/#apps/owm

[2015-11-13 15:35] nicofrand opened #594 ""Update" button displayed whereas app update not available"
In the status page, there is an "update" button ofr the application *Shout* whereas the application is already uptodate (0.51.1 and I also tried with `cozy-monitor update shout` to be sure).

My logs:

[code]

[2015-11-16 08:32] babolivier opened #595 "Error when updating platform and applications"
So today, when I went to the "Status" page, I saw a button "Update plaform and applications" (probably related to the available cozy-term update). However, when I clicked it, the loading animation started rotating in an infinite loop, and when I went to have a look at the Home's logs, I saw this error:

[code]

[2015-11-16 10:16] clochix opened #597 "Improve install experience"
When installing an application, we stay on the marketpage screen, and only display “installing” under the application. This label is almost invisible, in light gray. Why not use the same animation on marketplace than on the home page when an application is installing?

[2015-11-16 10:33] nicofrand opened #598 "Icons shadow truncated (too large for its container)"
The shadow that appears when we put the cursor over an icon is a bit too large for its container and therefore appears as cut.
Here is a contrasted screenshot to enhance the issue:

![cozy-bow-shadow-cut](https://cloud.githubusercontent.com/assets/3419050/11179742/d27feb8a-8c55-11e5-81ac-271c2d7b3653.png)

ping @m4dz @kelukelu

[2015-11-16 10:37] clochix commented on #593
Thanks for reporting @nicofrand, this should be fixed soon.

[2015-11-16 10:42] clochix commented on #595
Thanks for reporting @babolivier
@nicofrand seems to have a similar stack trace in #594.

[2015-11-16 10:42] clochix commented on #594
Thanks for reporting!

[2015-11-16 10:59] clochix commented on #598
Thanks for reporting @nicofrand ☺

[2015-11-16 15:20] nicofrand opened #602 "[Grammar] Replace "its" by "their" in "Install apps from its Git Repository""
I am not that fluent, but shouldn't it say

instead of

?

Or

?

[2015-11-16 17:01] frankrousseau commented on #582
I added a quick and dirty fix to printit to write errors on stdout. But you're right, that's not the right way to do.

[2015-11-16 17:03] frankrousseau commented on #591
Thank you for reporting @clochix

[2015-11-16 17:05] frankrousseau commented on #597
This is what happens on my Cozy. Can't you see the white loader ?

[2015-11-17 08:20] babolivier commented on #602
I agree on that there's a syntax mistake.
I think that, since we can only install one app from this field, it would be more accurate to have

[2015-11-17 08:46] babolivier opened #604 "[Status screen] Display the mobile app's download links even if there's a mobile device connected"
I use Android, but without Google Play. Because of that, I update all my mobile apps manually, by downloading apps' APK files. That's why I think Cozy's mobile app's download links should be displayed even if a device is connected to Cozy, which is not the current case (when a device is linked to a Cozy, the links disappear).

On top of that, it's possible to connect a non-mobile "device" to a Coz

[2015-11-17 09:30] frankrousseau commented on #604
You're right @babolivier. Thank you for reporting.

[2015-11-17 13:11] nicofrand commented on #594
It happens even after uninstalling/installing the app again.

[2015-11-17 14:20] clochix commented on #597
Sorry, the animation fires, I didn't saw it yesterday. I really need glasses.

[2015-11-17 14:46] jeekajoo opened #605 "tls mixed content warning in screen 'config-applications'"
Hi,

In `config-applications` screen, html code calls a ressource (`http://developer.android.com/images/brand/en_app_rgb_wo_45.png`) over HTTP thus raising a mixed content warning in the browser while the whole application is supposed to be served using TLS only, following my web frontend configuration.

Thanks
J.

[2015-11-18 16:29] clochix commented on #578
The new Home has been published, closing. Thanks for reporting.

[2015-11-18 16:29] #578 closed

[2015-11-18 17:36] nicofrand commented on #594
It appears to be the case for every app which git branch is different from *master*.

[2015-11-18 18:55] frankrousseau commented on #597
I noticed the same problem. I don't know yet how to reproduce it.

[2015-11-19 08:45] nicofrand commented on #594
Fine, I close the issue then !

[2015-11-19 08:45] #594 closed

[2015-11-20 13:29] clochix commented on #605
Thanks for reporting @jeekajoo, it has been fixed in #606 and will be published soon ☺

[2015-11-20 13:29] #605 closed

[2015-11-20 13:41] clochix commented on #594
Well, I'm not really comfortable with this choice. For example, for the port of Tablero, I work on a Cozy branch, for code specific to Cozy integration. So the default repo for this application will probably never be master, and users will never know if updates are really available.

[2015-11-20 13:42] clochix commented on #597
I installed several apps the last days, and was unable to reproduce this behavior :-S

[2015-11-20 13:43] nicofrand commented on #594
That's the case for Shout too, and any porting I guess.

[2015-11-20 13:43] clochix commented on #602
Maybe could you update this on Transifex ?

[2015-11-20 13:48] clochix commented on #586
@kelukelu what's the status of this one ?

[2015-11-20 13:50] kelukelu commented on #586
I've done it with @poupotte. It is related to this PR: https://github.com/cozy/cozy-home/pull/601

[2015-11-20 13:51] clochix commented on #581
@babolivier I think this has been fixed, could we close this issue?

[2015-11-20 13:53] clochix commented on #580
I noticed there are two locale variants of korean in our Trasifex account, `ko` and `ko_KO`. We may want to merge them.

[2015-11-20 13:58] jsilvestre commented on #602
Apparently it's fixed: https://www.transifex.com/cozy/cozy-home/viewstrings/#fr/enjson/65336701?q=git%20repo

[2015-11-20 14:00] jsilvestre commented on #580
Be careful though, ko_KO is full of english strings

[2015-11-20 23:22] babolivier commented on #581
Indeed it has! Closing.

[2015-11-20 23:22] #581 closed

[2015-11-23 09:16] clochix opened #608 "Third party applications icons are broken"
Since the new new new version of the home, application that are not in the marketplace have no icon.
We should:
 - use the `icon-path` from `package.json` as it used to work;
 - if we are unable to find an icon, use another default icon than the broken square. ping @kelukelu.

[2015-11-23 09:44] clochix commented on #608
The icon seems to become available after updating the application, that's strange.

[2015-11-25 10:18] clochix opened #609 "Client exception: _this.configApplications.onUpdateStackClicked is not a function"

[2015-11-25 10:37] clochix opened #610 "Update stack button hidden when an update for the data-system is available"

[2015-11-25 15:54] nicofrand commented on #602
Reminder: not fixed and cannot be updated on Transifex (sources cannot be edited).

[2015-11-25 16:06] nicofrand opened #612 ""Platform update" notification whereas no update available"
I received a notification saying a new update is available for the platform.
However when I go to the *Status* page, there is no update available (browser cache disabled, page reloaded etc.).

![cozy-notif-bug](https://cloud.githubusercontent.com/assets/3419050/11402153/af343d3c-9396-11e5-9069-559f407fadd3.png)

*cozy-monitor versions*:
[code]

*cozy-monitor curlcouch _design/notification/_view/al

[2015-11-25 17:02] nicofrand commented on #612
Linked to https://github.com/cozy/cozy-controller/issues/98
There are duplicates:
[code]

[2015-11-25 17:02] #612 closed

[2015-11-26 07:23] frankrousseau commented on #580
Ok @jsilvestre can you have a look at this and see if we can really add the korean language?

[2015-11-26 11:42] jsilvestre commented on #580
Korean (ko) is okay, I removed english localizations for ko_KO which are not set.

[2015-11-26 13:32] clochix commented on #602
Thanks @nicofrand and sorry for taking so long for fixing it

[2015-11-26 14:49] #590 closed

[2015-11-26 14:49] #591 closed

[2015-11-27 11:05] clochix commented on #580
FYI, I just sent a message to our Korean translator, asking if we can safely remove the unused ko_kr locale. Stay tuned ;-)

[2015-11-27 11:42] clochix commented on #580
I tried it and almost everything seems translated on Home page, so I just added it.

[2015-11-29 18:18] dkm opened #614 ""An error occured during update, page will refresh.""
After starting a full update of apps, I'm left with an error window with : "An error occured during update, page will refresh."

I don't have more clue about what happened. Also, the page does not refresh... Not a real problem, but the message is really not informative nor correct.

[2015-11-29 18:22] dkm commented on #614
Update : after click OK, I'm redirected to the login page. After login, I can see that only the sync app has not been updated...

[2015-11-30 14:45] clochix commented on #614
Thanks for reporting, you're right, we need to improve the update process ☺

[2015-12-01 10:31] jsilvestre opened #615 "Home can't retrieve icons for applications whose icon are not physically in the repo"
Since https://github.com/cozy/cozy-home/commit/29b428b066c430636434ea85678dfcb6f46340ec, Home cannot retrieve apps' icon when the icon is not physically in this repo.

Reason is that icon is now retrieved before the sources, to fix the bug mentioned in the commit.

The proper fix would require:
* revert the quoted commit in order to to get the sources before retrieving the icon
* fixing the bug by

[2015-12-01 12:49] frankrousseau commented on #615
Please do not revert the commit. I did that change because the icon display was broken.

[2015-12-01 12:49] frankrousseau commented on #615
The icon information are located in the manifest. The icon should be downloaded from there.

[2015-12-01 15:17] clochix commented on #615
Alson linking #608

[2015-12-03 08:52] fairyfeller opened #617 "Short URLs"
It would be nice to have ability to make short urls for sharing - something like http://domain.com/dfgh345

Where "dfgh345" - is something configurable from settings (like 4 letters AND 3 digits, or only 4 letters, or only 3 digits).

[2015-12-03 09:28] clochix opened #619 "Wrong description in application update popup"
@nicofrand reported that when updating the photo application, the description is undefined in the popup window: https://cozy.nicofrand.eu/public/files/files/68083fef7ad3d9ac36ab3ba413ae9c4f/attach/cozy-bug-maj-photos.png

Probably related to https://github.com/cozy/cozy-home/commit/6646472077c3c8b13a6ae63d6823e4735f31221b#commitcomment-14756668

[2015-12-03 09:45] clochix commented on #619
Seems like sometime the description in the market place is a translation key, sometime it is the plain text description.

[2015-12-03 13:33] jeekajoo commented on #605
Thanks.

[2015-12-03 13:42] clochix commented on #605
For the record, the new Home has been published a few hours ago, so this issue should be fixed now. Don't hesitate to re-open this if you encounter any problem.

[2015-12-03 13:44] jeekajoo commented on #605
Yep, I saw that it was fixed. That's why I just said thanks. :)

[2015-12-03 14:01] clochix commented on #617
Thanks for the suggestion. I guess this is something more related to the cozy-proxy than to this page.

It's hard to do because of the current structure of URLs in Cozy. Every time you install an application, the only urls that you can access wittout authentication are of the form https://domain.com/public/myapp/dfgh345

So, to use an url shortener, you'll probably need to update the configuration

[2015-12-03 16:20] fairyfeller commented on #617
I guess primary usage of sharing belongs to Files app. And yes - mainly it's about self hosted installs.

Typical scenario - making and sharing screenshots - make screenshot, put it to some public folder, generate short url and copy to clipboard.

[2015-12-04 10:51] clochix opened #620 "Sync application is not visible on Home page"

[2015-12-04 11:05] #580 closed

[2015-12-04 11:06] clochix commented on #602
Thanks @nicofrand, the fix has been published ☺

[2015-12-04 11:06] #602 closed

[2015-12-04 11:06] #610 closed

[2015-12-04 11:07] #609 closed

[2015-12-04 11:08] clochix commented on #586
Hi @nicofrand,
This should have been fixed in our latest release, could you give it a try?

[2015-12-04 11:08] #586 closed

[2015-12-04 11:10] clochix commented on #593
Hi @nicofrand,

This should have been fixed in our latest release, could you give it a try?

[2015-12-04 11:10] #593 closed

[2015-12-04 15:07] nicofrand commented on #593
Fixed !

[2015-12-04 15:08] nicofrand commented on #586
Fixed !

[2015-12-10 12:09] clochix opened #624 "Get the application slug from its manifest"
For now, when installing an application, we use the name of the Git repository as unique slug. It would be better to use the application name or slug defined in the manifest.

See [this thread](https://forum.cozy.io/t/fork-une-appli/1704) for a use case.

[2015-12-11 12:53] clochix commented on #413
Hi @kelukelu,

What's the status of this ticket? Still in progress? Todo? Or can we close it?

[2015-12-11 12:56] clochix commented on #567
Hi @nicofrand,

I think this has been fixed some time ago, can we close the issue?

[2015-12-11 12:58] nicofrand commented on #567
Hi,

Indeed it is, thanks !

[2015-12-11 12:58] #567 closed

[2015-12-11 13:00] kelukelu commented on #413
It has been done a long time ago...

[2015-12-11 13:00] #413 closed

[2015-12-14 17:35] jsilvestre opened #626 "App's iframe doesn't have the focus when opened (Chrome only)"
When an application is opened the first time, the iframe doesn't have the focus, hover events are not fired in the iframe, resulting in a weird impression. The user can get back the normal behaviour by clicking anywhere on the page.

[2015-12-15 16:06] SeafireGit opened #627 "Halt button"
Could we get a "halt" button, next to "restart" ?
It would be useful for every user who get cozy self-hosted at home, and more user friendly than opening a ssh connection and shutting down every service.
As it could be blocking to stop a remote server, we could either enable this button by clicking a "self-hosted cosy" box, or put 5 advises to not click if we use a remote server.

Thanks and congr

[2015-12-16 06:50] clochix commented on #627
Thanks for reporting @SeafireGit.
@nledez is working on an application to provide advanced actions to self-hosted users: [cozy/cozy-self-hosting](https://github.com/cozy/cozy-self-hosting).
What would you think if we put the halt button into this application rather than on the common State page?

[2015-12-16 10:18] clochix opened #629 "client error on intents"
Seen into the logs:
[code]

This seems to happen when trying to open the Haste application

[2015-12-16 10:28] clochix opened #630 "Starting Haste often fails"
A user reports than starting the Haste application often fails.
In logs, I can just see en 500 in the logs of proxy, and the client error reported in #629 in the logs of the home.

I wonder if it related to the difference between application name and slug: the repo is haste-server, so the application is haste. But its slug in `market.json` is `hastebin`. This may explain why the application fails

[2015-12-17 11:12] clochix opened #631 "Alarm reminder not translated"
As [reported](https://github.com/cozy/cozy-calendar/issues/461) by @Peltoche:

I have set an event with a reminder by mail. The mail is ok but it contain juste the Polyglot keywords:
 - from: no-reply@cozycloud.cc
 - subject: reminder title email expanded
 - content: reminder message expanded

This keys are wrongly located into client's locale instead of server ones.

[2015-12-23 17:47] SeafireGit commented on #627
As far as it's mostly an issue for self-hosted people, i think it would better be added to this application rather than in the main cozy. Moreover it will avoid to overload the application board.
Thanks for the concern you show to my request :)

[2015-12-24 08:03] clochix commented on #627
Let's do this, I moved tis issue to cozy/cozy-self-hosting#1.

[2015-12-24 08:03] #627 closed

[2015-12-24 10:52] clochix opened #634 "Error sending logs"
A user sent us the logs of its server, but the file is empty. Looks like one of the logs file has been updated while we were reading it. Here's a message found in home error log:
[code]

[2016-01-07 15:54] masda70 commented on #608
I'm encountering this problem.

I'm using an `icon-path` definition on `package.json` with a svg file.

Is there any known workaround?

[2016-01-07 16:28] clochix commented on #608
Sorry @masda70, this has not be fixed yet.
@frankrousseau, any idea?

[2016-01-07 20:10] frankrousseau commented on #608
Unfortunately, it's still broken. The only workaround is to make a PR to the cozy-home repo. It should include your picture.

Here is the directory with all image applications:
https://github.com/mycozycloud/cozy-home/tree/master/client/app/assets/img/apps

[2016-01-08 16:33] clochix commented on #608
@frankrousseau in fact, it works *sometime*. I installed some applications that are not into the MarketPlace, like Droppy or Tablero, and their icon is displayed.

AMHA, this is really something we should fix. Developers trying to create applications for Cozy would like to see their icon on our Home, but won't bother adding it to our repository.

[2016-01-12 10:54] clochix opened #638 "Ignore errors when fetching repository stars"
When we download the manifest of an application, we call the Github public API to fetch the number of stars of the repository. This call may fail due to rate limit.
We should just ignore the error and continue fetching the manifest.

Also, @frankrousseau pointed that we may remove this call, as stars doesn't seem to be used anymore.

[2016-01-12 21:37] clochix opened #641 "Events reminder emails are not translated"
See this [report](https://forum.cozy.io/t/calendar-proposition-de-notification-demail-plus-explicite/1854).

This bug is located into the Home application, but affects Calendar.

[2016-01-13 07:59] poupotte opened #642 "Notification not sent for event created outside Cozy"
See https://github.com/cozy/cozy-calendar/issues/429 and https://github.com/cozy/cozy-calendar/issues/460

[2016-01-13 09:12] poupotte commented on #490
We have now a tag for beta application.

[2016-01-13 09:12] #490 closed

[2016-01-14 08:10] poupotte commented on #469
This issue should be fixed since  	f6c0fd3. I close this issue, @ZeHiro , if you have still the problem, don't heistate to reopen it.

[2016-01-14 08:10] #469 closed